/*(C) 2001-2099 IBOS Inc.*/

*{ word-wrap:break-word; outline:none; }
body{ background:#FFF; text-align:center; }
body, td, button{ color:#555; font:12px 'Simsun',"Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; }
input,textarea,select{font: 12px "Lucida Grande", Verdana}
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin:0; padding:0; }
ul{ list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:12px; }
a{ color:#4586C9; text-decoration:none; }
	a img{ border:none; }
em, cite, th{ font-style:normal; font-weight:400; }
table{ border-collapse:collapse; }
th{ text-align:left; }
label, .pointer { cursor:pointer; }
.highlight { color: #C00; font-weight: 700; }
.lbtxt { color: #4586C9!important;}
.fl{ float: left;}
.fr{ float: right;}
.ffyh{ font-family: 'Microsoft Yahei';}

/* form */
textarea, input, select, .html { padding:2px; border:1px solid #C0BBB4; background:#FFF; color:#666; resize: none; }
.txt, select, .vmiddle { vertical-align:middle; }
.txt:hover, .txt:focus, textarea:hover, textarea:focus{ border-color:#4586C9; background: #FFF; color: #4687C9;}
.shadow{ border: 1px solid #D5D5D5; border-top-color: #C2C2C2; background:url(input_bg.png) repeat-x #FAFAFA;}
.hover:hover { background:#F8FBFF; }
	.hover:hover .addchildboard, .hover:hover .deleterow { color: #F8FBFF; }
.hover_hover { background:#F2F9FD; }
.txtnobd{ border:1px solid #FFF; background:#FFF; cursor:pointer; }
.radio, .checkbox, .pr, .pc { border:none; background:none; vertical-align:middle; }
.checkbox{ height:14px; }
.btn{  margin:3px 0; padding:2px 20px;*padding:4px 10px 1px;  border: 1px solid #4586C9; background: url(bg_btn.png) repeat-x 0 -50px; color:#FFF; cursor:pointer; vertical-align:middle;}
	.btn:active { background-position:0 -75px; }
	.btngray {
		background:url("btn_bg.png") repeat-x;  margin:3px 0; padding:2px 5px; *padding:4px 5px 1px; border: 1px solid #999;color:#666; cursor:pointer; vertical-align:middle;
	}
	.btngray:active{background-position: 0 -25px;}
.uploadbtn{ width:250px; border-color:#999; }
.pn { background: url("btn_bg.png") repeat-x scroll 0 0 #E5E5E5; border: 1px solid #999999; box-shadow: 0 1px 0 #E5E5E5; cursor: pointer; height: 23px; margin-bottom: 3px; margin-right: 3px; overflow: hidden; padding: 0;vertical-align: middle; width:40px}
.fmenu { background: url("../../../static/image/icon/file_folder.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 15px; vertical-align: middle; width: 15px;}
.o-next { background-position: -163px -20px; }
.o-prev { background-position: -123px -20px; }
.line { border-bottom: 1px solid #0F0; }
.num{ width:20px !important; height: 16px; vertical-align:middle; }
/* simulate input type="file" */
.filebtn { position: relative; margin-right: 30px; width: 60px; overflow: hidden; zoom: 1; }
	.filebtn .pf { position: absolute; right: 0; height: 23px; opacity: 0; filter:alpha(opacity=0); cursor: pointer; }


/* .html */
.html { width: 180px !important; height: 16px; float: left; cursor: text; white-space: nowrap; overflow-x: hidden; }
.htmlbtn { background: url("../editor/editor.gif") no-repeat scroll 0 0 transparent;border-color: #CCCCCC;width: 21px;height: 21px;margin-right: 2px;float: left;cursor: pointer;padding: 0px; }
.htmlbtn.current { border-color: #369; }
.htmlbtn.b {background-position:0 0;}
.htmlbtn.i { background-position:-20px 0; }
.htmlbtn.u { background-position:-40px 0; }
.htmlbtn.c { background-position:-60px 0; }

h3{ margin-top:4px; font-size:16px; color:#4586C9; font-family: 'Microsoft Yahei'; font-weight:400; }
/* title */
.spectitle{ border-bottom:1px dashed #F66; }


/*nav icon*/
.i-nav{background: url(i_nav.png) no-repeat; display: block}
/* for .i-nav*/
.o-index{ background-position: 0 -57px}
.o-global{ background-position: -57px -57px }
.o-style{ background-position: -114px -57px }
.o-founder{ background-position: -171px -57px }
.o-user{ background-position: -228px -57px }
.o-forum{ background-position: -285px -57px }
.o-tools{ background-position: -342px -57px }
.o-plugin{ background-position: -399px -57px}
.o-ic{ background-position: -456px -57px;}
.navon .o-index{ background-position: 0 -114px}
.navon .o-global{ background-position: -57px -114px }
.navon .o-style{ background-position: -114px -114px }
.navon .o-founder{ background-position: -171px -114px }
.navon .o-user{ background-position: -228px -114px }
.navon .o-forum{ background-position: -285px -114px }
.navon .o-tools{ background-position: -342px -114px }
.navon .o-plugin{ background-position: -399px -114px}
.navon .o-ic{ background-position:-456px -114px;}

/* mainbox */
.mainhd{ position:relative; overflow:hidden; text-align:left; height:69px; background:url(hd_bg.png) repeat-x; line-height:88px; border-top: 1px solid #4586C9; border-bottom:1px solid #4586C9;}
	.logo{ display: block; text-indent:-9999px; width:196px; height:69px; background:url(logo.png) no-repeat }
    .hd_bgr{ height:69px; width:466px; position:absolute; right:0; background:url(hd_bgr.png) no-repeat right top; z-index:1;}
	.uinfo{ position:absolute; z-index:4; line-height:32px; top:0; right:15px; }
		.uinfo a{ color:#666; }
		.uinfo em{ margin-right:5px; font-weight:700; }
			.uinfo em a{ text-decoration:underline; }
		.uinfo p{ margin-top: 4px; }
            .btnlink {text-align:right;}
			.btnlink button{ padding: 0 15px; width: auto; overflow-x: visible; height:22px; cursor:pointer; line-height:14px; border:1px solid #999; text-align:center; background:url(btn_bg.png) repeat-x; }
            .btnlink button:active{ background-position: left -25px}
	.mainhd .nav{ position:absolute; z-index:2; top:14px; left:200px; width:100%; height:75px; }
		.mainhd .nav ul{  position:relative; z-index:4; font-size:14px; }
			.mainhd .nav li{ float:left; height:57px; line-height:20px;font-size: 12px; } 
				.mainhd .nav li em{ display:block; width: 58px; text-align: center;}
				.mainhd .nav li a{ padding:32px 0 5px; display: block; color:#666;   letter-spacing: 1px;}
				.mainhd .nav li a:hover{ color:#5FB1F3;}
				.mainhd .nav li .diffcolor{ color:#F60; }
            .mainhd .nav li.navon, .bgblock { background: url(i_nav.png) no-repeat;}
			.mainhd .nav li.navon a{ color: #FFF;  }
					.mainhd .nav li.navon em a:hover{ color:#FFF; }
            .mainhd .nav ul #header_uc { font-size:12px; }
            .bgblock { position:absolute; width:57px; z-index:-1;}
    .getuser .nav{  margin-left: 0;margin-bottom: 18px;list-style: none;}
    .nav-tabs {height: 31px;padding-left: 5px;border-bottom: 1px solid #DDD;}
    .nav-tabs .y { float: right;margin-right: 5px;}
    .nav-tabs li { float: left; margin-bottom: -1px;}
    .nav-tabs  li  a {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        background-image: -webkit-linear-gradient(top, #FFF, #F5F5F5);
        background-image: -moz-linear-gradient(top, #FFF, #F5F5F5);
        background-image: -ms-linear-gradient(top, #FFF, #F5F5F5);
        background-image: -o-linear-gradient(top, #FFF, #F5F5F5);
        background-image: linear-gradient(top, #FFF, #F5F5F5);
        background-color: #F5F5F5;
        display: block;
        padding: 6px 12px;
        margin-right: 2px;
        line-height: 18px;
        border: 1px solid #DDD;
        font-weight: 700;
        color: #666;
    }
    .nav-tabs > li > a:hover {
        background-image: none;
        border-color: #EEE #EEE #DDD;
        text-decoration: none;
    }
    .nav-tabs .active a,
    .nav-tabs .active a:hover {
        background-image: -webkit-linear-gradient(top,#F5F5F5 6%,#FFF 12%,#FFF );
        background-image: -moz-linear-gradient(top,#F5F5F5 6%,#FFF 12%,#FFF );
        background-image: linear-gradient(top,#F5F5F5 6%,#FFF 12%,#FFF );
        background-color: #FFF;
        border: 1px solid #DDD;
        border-bottom-color: #FFF;
        color: #444;
        cursor: default;
    }
	.currentloca{ clear:both; width:100%; height:32px; border-top:1px solid #4586C9; border-bottom: 1px solid #D5D5D5; position: relative; }
		.currentloca p{ padding-left:10px; line-height:32px;  }
		.searchbox{ position:absolute; top:5px; right:15px; height: 20px;  border: 1px solid #4586C9;}
			.searchbox span{ margin-right:3px; }
            .searchbox input{ height: 20px; line-height:100%; border: 0 none; border-right: 1px solid #FFF; float: left;}
        .searchbox .searchbtn { width:20px; height: 20px; border: 0 none!important;  background: url(i_global.png) no-repeat  left -60px #FFF!important; cursor: pointer}
        .searchbox input:hover ,.searchbox input:focus {border-right: 1px solid #4586C9; background: #F1F9FF;}
.homeicon {  padding: 3px 12px; width:12px; background: url(i_global.png) no-repeat;}
.rightarr{ padding: 9px 12px; line-height:14px; width:24px; display:inline; *vertical-align:middle; background:url(path_arr.png) no-repeat}
a.faq { background: url(faq.gif) no-repeat 0 2px; padding:1px; margin-left:10px; }
.popupmenu_popup { width:400px; overflow:hidden; padding:10px; border:1px solid #A6C9D7; background:#FFF; font-size:12px; font-weight:400; text-align:left; }
	li.popupmenu_popup { list-style: none; }
	#fselect_menu { width:300px; }
	.fsel { _height: 350px; max-height: 350px; overflow-y: auto; }
		#fselect_menu a { width: 70%; }
	#ugselect_menu { width:450px; }
	.popupmenu_popup em { display:block; clear: both; padding: 2px 4px; font-weight:700; background:#EAF4FB; }
		.popupmenu_popup em.hover { cursor:pointer; }
	.popupmenu_popup a { float: left; margin: 1px 9px 1px 0; padding-left:3px; width: 100px; }
	.popupmenu_popup .ck { width: 25px; margin-top: 4px; }
	.popupmenu_popup .current { font-weight:700; }
		.popupmenu_popup a.f, .popupmenu_popup a.s { float: none; display: block; width:80%; }
			.popupmenu_popup a.s { margin-left:40px; }
	.popupmenu_dropmenu { cursor: pointer; }
		.popupmenu_dropmenu em { margin-left:3px; background:url(bg_repno.gif) no-repeat 0 -145px; }

.menutd{ background: #F5F5F5 url(sd_bg.png) left top repeat-y; }
.menu{ position:relative; z-index:20; width:160px; }
	.menu ul{ position:absolute; top:5px;  list-style:none; width:160px;}
		.menu li { margin: 3px 0; *margin: 0; width: 160px; height: auto !important; height: 25px; overflow: hidden; }
			.menu li.s { height: auto; }
		.menu li.a { margin-top:0; }
		.menu li a { display: block; margin: 2px 0; padding: 5px 0 4px 40px; *padding: 6px 0 4px 40px; background: url("i_global.png")  no-repeat 12px -37px; color: #666; white-space: nowrap; }
			.menu li a:hover{ text-decoration:none; background:#4586C9;  color:#FFF; }
			.menu li a.tabon,.menu li a.tabon:hover{ text-decoration:none; background: url(tabon.png) no-repeat #4586C9; color:#FFF; }
			.menu li em { position: absolute; cursor: pointer; margin: -1px 0 0 -25px; *margin-top: -2px; width: 16px; height: 16px; visibility: hidden; background: url(i_global.png) -2px -21px no-repeat; }
				.menu li a:hover em, .menu li a.tabon:hover em { visibility: visible; }
                .menu li a.tabon em{ visibility: visible;}
				.menu li a.tabon:hover em { background-color: #4586C9; }
				.menu .lsub { cursor: pointer; background: url(add.gif) no-repeat 12px 5px; }
				.menu .lsub div { padding: 4px 0 3px 30px; font-weight: 700; }
				.menu .desc { background: url(desc.gif) no-repeat 12px 5px; }
				.menu .lsub ol { list-style: none; padding: 0 0 0 30px; margin: 2px 0 0 -30px; }

.mask{ /* padding-top: 10px; */}
	a.faq:hover{ text-decoration:none; }
.vague { width: 100%; height: 20px; background: url(vague_bg.png) repeat-x; position: fixed; top:0}
.team a { float: left; width: 33%; }

/* tab */
.tab1{ overflow:hidden; clear:both; }
	.tab1 li{ float:left; margin-right:5px; text-align:center; font-weight:400; }
	.tab1 a { display:block; line-height:26px; color:#999; white-space: nowrap; }
		.tab1 a span { display:block; padding:0 7px; }
		.tab1 a:hover { text-decoration:none; }
			.tab1 a:hover span { display:block; }
	.tab1 .current{}
		.tab1 .current a{ /* background:url(btn_block_2.gif) no-repeat 0 0;  */}
		.tab1 .current a span{/*  background:url(btn_block_2.gif) no-repeat right -26px;  */}
			.tab1 .current a .highlight { color: #FF9; }
		.tab1 .current a em{ margin-left:3px; * margin-right:-5px; background:url(bg_repno.gif) no-repeat 0 -215px !important; background:url(bg_repno.gif) no-repeat 0 -147px; color:#666; }
		.tab1 .hasdropmenu a em{ margin-left:3px; * margin-right:-5px; background:url(bg_repno.gif) no-repeat 0 -195px !important; background:url(bg_repno.gif) no-repeat 0 -197px; color:#FFF; }
        .itemtitle .tab1 .hasdropmenu a:hover em{ background-position:0 -215px!important;}
    .dropmenu, .dropmenu1 { margin-left: -20px; white-space:nowrap; background:#F5F5F5; text-align:left; opacity:0.9; filter:Alpha(opacity=90); }
		.dropmenu1 { margin-left: 0; padding: 5px; }
		.tab1 .dropmenu a{ padding:2px 7px; background:none !important; color:#666 !important; font-weight:400; }
		.tab1 .dropmenu a:hover{ background:#DEEFFA !important; }
		.tab1 .dropmenu li { clear: both; margin:0; }
		.tab1 .dropmenu li.current a { background:#DEEFFA !important; }

/* box */
#scrolllink{ position: absolute; z-index: 21; bottom: 40px; *bottom: 39px; left: 0; padding: 2px 0; width: 154px; background-color: #F4F4F4; }
	#scrolllink span { cursor: pointer; }
	#scrolllink img { margin-left: 2px; }
.copyright{ position:absolute; z-index:10; left:5px; bottom:3px; padding-top:3px; border-top:1px dashed #DDD; text-align:left; line-height:150%; font-family:Tahoma; font-size:11px; -webkit-text-size-adjust: none; }
.logintb{ text-align:left; margin:100px auto 0; width:600px; }
.login{ padding-right:22px; width:272px; height:311px; background:url(bg_login.jpg) right top no-repeat; }
	.login h1{ text-indent:-9999px; margin-bottom:10px; width:252px; height:94px; background:url(login_title.png) no-repeat; }
	.login p{ margin-right: 22px; font: 26px/1 'Microsoft Yahei'; text-align: right; }
.logintitle, .loginform { margin:2px 0; height:34px; line-height:34px; font-size:14px; }
.logintitle{ float:left; clear:left; width:60px; font-weight:700; color:#666; }
.loginform{ float:left; display:inline; width:226px; position:relative; margin: 6px 0 0 20px; font-size: 16px;   color: #70A9E6; font-weight:700}
    .loginform .acc { position: absolute; top: 8px; left: 1px; width: 25px; height: 20px; border-right:1px solid #EEE; background: url(i_login.png) no-repeat 2px -20px #FFF;}
    .loginform .pwd { position: absolute; top: 8px; left: 1px; width: 25px; height: 20px; border-right:1px solid #EEE; background: url(i_login.png) no-repeat 2px -60px #FFF;}
    .loginform .txt{  width:190px; height: 30px;  line-height:25px; vertical-align:middle; border-color: #BCD0DB; font-size: 16px; background: url(lginput_bg.png) repeat-x ; padding-left: 30px; color: #BCD0DB}
    .loginform select { margin-top:1px; padding:1px; width:156px; }
.loginnofloat{ clear:both; }
	.loginnofloat .btn{ margin: 15px 0 0  20px; padding:0; border: 0 none; width: 105px; height:34px; background:url(lgbtn_bg.png) no-repeat; font-family:'Microsoft Yahei'; font-size: 16px; text-shadow: 1px 1px 0 #5681B0; color: #ECF5FF}
    .loginnofloat .btn:active{ background-position:0 -34px; color: #FFF;}
.logintips{ line-height:160%; margin-left:25px; }
	.logintips a{ margin:0 5px; text-decoration:underline; }
.footer{}
	.footer .copyright{ position:static;  border:none; text-align:center; font-size:12px; }
	.footer p{ display:inline; }

.container{ padding: 10px 20px 20px; text-align:left; margin-top: 10px; }
.itemtitle{ clear:both; overflow:hidden; margin-bottom:0 !important; *margin-bottom:5px !important; margin-bottom:-5px; line-height:20px; }
	.itemtitle h3{ float:left; margin-right:20px; }
	.itemtitle ul{ float:left; line-height:18px; margin-top: 6px;}
	.itemtitle .tab1{ clear:none; margin-top:0;}
		.itemtitle .tab1 a{ line-height:20px; border: 1px solid #D7D7D7; }
			.itemtitle .tab1 a span{ padding:3px 12px; *padding:4px 12px 3px; *line-height:19px; }
			.itemtitle .tab1 a:hover{ border-bottom-color: #BBB;}
				.itemtitle .tab1 a:hover span{ color:#4586C9;  background: url(bg_subtab.jpg); }
		.itemtitle .tab1 .hasdropmenu a:hover{ color:#666; }
		.itemtitle .tab1 .current a{  border-color: #4586C9;}
			.itemtitle .tab1 .current a span, .itemtitle .tab1 .current a:hover span{ color:#4586C9;  background: #EEF7FF;}
		.itemtitle .tab1 .dropmenu a{ background:none !important; border: solid #FFF; border-width: 1px 0;}
			.itemtitle .tab1 .dropmenu a:hover, .itemtitle .tab1 .dropmenu a.current{ background:#4586C9 !important; color: #FFF!important; border-top-color: #57A5E3}
.floattop { position:fixed; z-index:200; top:0; left:0; margin-left: 20px; padding:8px 20px 8px 0; width:99%; background:#FFF; }
	.floattop #fselect, .floattop #ugselect { margin-right: 20px; }
	* html .floattop { position:relative; top:expression(offsetParent ? offsetParent.scrollTop : 0); left: -20px; margin-top: -10px; width: 100%; }
	.floattopempty { height: 35px !important; height: auto; }
	.floattop .dropmenu { position: fixed !important; position: absolute; margin-left: 0 !important; margin-left: -20px; } /* for opera position fixed bug */
.stepstat{ *margin-bottom:10px; }
	.stepstat li{ float:left; margin-right:15px; color:#CCC; }
	.stepstat .current{ color:#090; }
.infobox{ clear:both; border: 1px solid #EEE; zoom:1; text-align: center;}
    .infobox h3{  margin: 0; text-align: left; padding: 5px 20px; background:#FAFAFA;  border-top: 1px solid #FFFFFF; color: #666; }
    .infocont{ padding: 20px; font-family: 'Microsoft Yahei'; border-top:2px solid #FFF;}
        .info1{ border-top-color: #09C; }
        .info2{ border-top-color: #B9D044;}
        .info3{ border-top-color: #C60202;}
    .infotitle{  margin-bottom: 10xp; font: 16px/30px 'Microsoft Yahei'; }
        .infotitle1{ color:#09C; }
        .infotitle2{color:#9FBF00; }
        .infotitle3{ color:#C00;}
    .infoicon{ padding: 7px 24px; background: url(tip.gif) no-repeat; vertical-align: text-top; }
    .infosucc{ }
    .infoerror{ background-position:0 -35px;}
	.cachelist{ overflow:hidden;}
		.cachelist li{ float:left; margin-right:10px; }
.colorbox{ clear: both; padding:10px; border-top:4px solid #DEEFFA; border-bottom:4px solid #DEEFFA; background:#F2F9FD; zoom:1; }
	.extcredits{ margin:-5px 0 10px; }
		.extcredits a{ margin-right:5px; padding:2px 5px; line-height:220%; border:1px solid #B6CFD9; background:#FFF; white-space:nowrap; }
	.jswizard{ margin:10px 0; }
	.jswizard iframe { border: 1px dashed #DEEFFA; }
.fileperms{ list-style:disc; margin:15px; text-align: left;}
	.fileperms li{ line-height:180%; }
.tips{ margin-left:15px; color:#999; }
.tips2{ line-height:180%; color:#999; word-break:break-all; }
.tb2 .tipsblock{ background:none; margin-bottom:-10px; }
	.tipsblock ul{ margin-bottom:-11px; }
		.tipsblock li{ margin-bottom:5px; padding:0 0 5px 20px; line-height:160%; background:url(bg_repno.gif) no-repeat -340px 6px; }
.tips a, .tips2 a, .tipsblock a{ margin:0 3px; text-decoration:underline; color:#666; }
	.tips a:hover, .tips2 a:hover, .tipsblock a:hover{ color:#09C; }

/* table */
.tb{ clear:both; width:100%; margin-top: 8px}
	.tb th, .tb td{ padding:5px !important; height:25px; }
	.tb .nopd td{ padding:0 !important; }
.tb1{}
	.th11, .th12{ width:60px; font-weight:700; }
	.tb1 .th12{ padding-top:7px; vertical-align:top; }
		.tb1 .tb2 th{ padding-top:0; }
	.tb1 .txt{ width:150px; }
	.tb1 strong{ margin-right:5px; color:#F60; }
	.first td{ padding-top:13px; }
	.first .th12{ padding-top:15px; }
	.bdtop td{ border-top:1px dashed #CAE4F7; }
	.bdbot td{ border-bottom:1px dashed #CAE4F7; }
	.td11{ width:350px; vertical-align:top; }
		.td11 li{ float:left; margin:0 10px 7px 0; *margin:-3px 10px 7px 0; }
		.td11 .clear{ margin:0; }
		.listtitle,	.listtitlelong{ padding-top:3px; *padding-top:6px; width:80px; color:#09C; }
		.listtitlelong{ width:100px; }
		.td11 .txt{ width:70px; }
		.td11 .sginput .txt{ width:150px; }
	.td12{}
		.td12 li{ float:left; margin-right:10px; }
		.td12 .radio{ float:left; margin-top:4px; *float:none; *margin-top:0; }
		.td12 label{ float:left; margin-top:2px; *float:none; *margin-top:0; }
		.td12 .txt{ width:50px; }
	.checkboxlist{ width:720px; }
		.checkboxlist li{ float:left; width:90px; line-height:180%; white-space:nowrap; cursor:pointer; }
	.longtxt .txt{ width:400px !important;}
	.tarea{ width:400px; height:75px; }
	.sml, .sml th, .sml td { font-size: 9px !important; -webkit-text-size-adjust: none; }

/* tb */
.tb2
    .tb2, .tb2 th, .tb2 td{ font-family: 'Arial','Lucida Grande'; }
	.tb2 tr.hover:hover .tips2{ color:#333; }
	.tb2 tr.hover:hover td { background: #F2F9FD; }
	.tb2 tr.hl { background: #FFFAF3; }
	.tb2 tr.hl td { border-top:1px #F4E4B4 solid; border-bottom:1px #F4E4B4 solid }
	.tb2.tdhover tr:hover td { background: none; }
	.tb2.tdhover tr td:hover { background: #F2F9FD; }
	.tb2 td{ padding:5px 5px 3px 0; border-top: 1px dotted #D5D5D5; }
	.tb2 th{line-height:21px; font-size: 12px; }
    .tb2 th div{ height: 100%; position: relative}
    .tb2 th .unblue{ border-bottom: 1px solid #4586C9; position: absolute; top:5px; left: -5px; padding: 0 5px; height: 100%; font-weight: 700;}
	.tb2 .txt, .tb2 .txtnobd{ width:100px; margin-right:10px; }
	.tb2 .smtxt { margin-right: 5px; width: 25px; }
	.nowrap { white-space: nowrap; }
	.td21{ width:150px; font-weight:700; }
	.td22{ width:100px; font-weight:700; }
	.td23{ width:100px; }
	.td24{ width:120px; }
	.td25{ width:50px; }
		.td25 .txt{ width:40px; }
	.td26{}
		.td26 .txt, .td26 .txtnobd{ width:90%; *width:280px; }
	.tb2 .td27{ padding:3px 0 3px 5px; font-weight:400; }
		.tb2 .td27:hover { background: none; }
	.td27m { font-weight:700; padding-bottom:5px; }
	.td28 .txt{ width:40px; }
	.td29 .txt{ width:200px; }
	.td30 { width:30px; }
	.td31 { width:200px; }
	.td32 { width:85px; }
		.td32 .txt{ width:50px; }
	.tbm { padding:5px !important; background: #F2F9FD !important; font-weight: 700; border-top:0 !important; }
	.multicol { float:left; width: 270px !important; }
	.staton{ text-indent:-9999px; width:20px; height:17px; background:url(bg_repno.gif) no-repeat -280px -250px; }
	.statoff{ text-indent:-9999px; background:url(bg_repno.gif) no-repeat -250px -347px; }
	.rowform{ width:306px; overflow:auto; }
		.tb2 .rowform{ padding-left:5px; }
		.rowform .txt, .rowform textarea{ margin-right:10px; width:250px; }
		.rowform select{ margin-right:10px; width:256px; }
		.rowform .radio{ margin-top:-2px !important; *margin-top:0 !important; *margin-top:-2px; }
		.rowform li{ overflow:hidden; float:left; margin-right:10px; white-space:nowrap; cursor:pointer; }
			.rowform .clear{ clear:both; float:none; margin-bottom:10px; }
		.rowform .nofloat{ clear:both; }
			.rowform .nofloat li{ float:none; margin:5px 0; overflow:visible; }
		.ckbox {width:700px; }
		.ckbox li { float: left; margin: 5px 10px 5px 0; white-space: nowrap; width: 130px; height: 20px; }
	.partition, .partition2{ line-height:21px; font-weight:700; color:#4586C9; border-bottom: 1px solid #D5D5D5}
    .partition em{ font-weight: 700;}
	.dblist{}
		.dblist li{ float:left; margin-bottom:5px; width:33%; height:20px; white-space:nowrap; cursor:pointer; }

	.cfolder, .ofolder{ display:block; padding-left:50px; line-height:30px; background:url(bg_repno.gif) no-repeat -260px -50px; font-weight:700; }
	.ofolder{ background:url(bg_repno.gif) no-repeat -260px -100px; }
	.filenum{ margin:8px 0 0 20px; }
	.files{ padding:1px 0 1px 50px; background:url(bg_repno.gif) no-repeat -260px -150px; }
	.del{ padding-bottom: 1px; padding-left:18px; background:url(bg_repno.gif) no-repeat 0 -285px; *background:url(bg_repno.gif) no-repeat 0 -286px; color:#E8594D; }
	.edited, .unfixed { padding-bottom: 1px; padding-left:18px; background:url(bg_repno.gif) no-repeat -100px -385px; *background:url(bg_repno.gif) no-repeat -100px -386px; color:#E8594D; }
	.unknown{ padding-bottom: 1px; padding-left:18px; background:url(bg_repno.gif) no-repeat -50px -435px; *background:url(bg_repno.gif) no-repeat -50px -436px; color:#6189B8; }
	.correct, .fixed { padding-bottom: 1px; padding-left:18px; background:url(bg_repno.gif) no-repeat 0 -485px; *background:url(bg_repno.gif) no-repeat 0 -486px; color:#70B759; }

	/* crons */
	.crons{ width:200px; }
		.crons .txt{ margin-bottom:3px; width:150px; }

	/* faqlist & boardlist */
	.node, .board{ padding-left:55px; background:url(bg_repno.gif) no-repeat -240px -550px; }
		.node .txt, .lastnode .txt, .newnode .txt{ width:250px; }
		.parentnode .txt{ width:250px; font-weight:700; }
		.parentboard .txt{ font-weight:700; }
	.lastnode, .lastboard{ padding-left:55px; background:url(bg_repno.gif) no-repeat -240px -600px; }
	.childboard{ padding-left:110px; background:url(bg_repno.gif) no-repeat -185px -550px; }
	.lastchildboard{ padding-left:110px; background:url(bg_repno.gif) no-repeat -185px -600px; }
	.boardattr{ position:absolute; left:402px; margin-top:-20px !important; margin-top:-19px; color:#999; }

	/* pick window */
	.colorwd{ float:left; width:40px; height:21px; border-color:#ccc #666 #666 #ccc; }
	.cmen { overflow: hidden; width: 63px; }
		.cmen a { overflow: hidden; float:left; width: 20px; height: 20px; }

.tb3{ margin-top:-15px; border:none; }
	.tb3 th{ padding:10px 0 5px; }
	.tb3 td{ padding:0; line-height:180%; }

.mod_validate td, .mod_export td { background: #CFC !important; }
.mod_invalidate td, .mod_refusal td { background: #FFEBE7 !important; }
.mod_ignore td { background: #EEE !important; }
.mod_cancel td { background: #FFF !important; }
.mod_delete td { background: #F99 !important; }

/* custom menu */
.custom{ overflow:hidden; position:relative; border:6px solid #A6C9D7; background:#FFF; }
	.cmain{ padding:0; text-align: left; padding: 10px; }
		.cnote{ line-height:20px; }
			.cnote li{ float:left; margin-right:15px; }
		.cmlist{ clear:left; overflow-y:auto; }
			.cmlist a{ display: block; float: left; overflow: hidden; width: 150px; height: 20px; color:#666; }
			.cmlist td { padding: 5px 0; border-bottom: 1px dotted #D5D5D5; }
			.cmlist tr:last-child td { border-bottom: none; }
			.cmlist h4{ color:#09C; width: 90px; }
	.cside{ float:right; display:inline; margin-right:5px; width:151px; text-align:left; }
		.cside h3{ position:relative; margin-bottom:0; padding:6px 0 0 5px; height:28px; line-height:28px; border-bottom:1px solid #A6C9D7; background:url(bg_custom_t.gif) repeat-x; }
		.ctitle1{ display:block; padding-left:25px; height:28px; background:url(btn_add2menu.gif) no-repeat 0 5px; color:#090; font-size:12px; }
			.ctitle1:hover{ text-decoration:none; }
		.cadmin{ position:absolute; top:-4px; right:-5px; padding:10px 10px 0; color:#666; font-size:12px; font-weight:400; }
		.cslist li{ height:1%; }
			.cslist li a{ display:block; padding:5px 5px 5px 30px; }
				.cslist li a:hover{ text-decoration:none; background:#DEEFFA; }
		.cslist li .pages{ margin-left:27px; }
			.cslist li .pages a{ display:inline; padding:2px 5px; }
			.cslist li .pages a:hover{ background:#09C; }
		.cfixbd{ position:absolute; right:5px; bottom:0; width:151px; height:5px; line-height:5px; font-size:1px; background:#FFF; overflow:hidden; }
/* list */
.tpllist{ list-style:disc; margin:10px 15px; line-height:180%; }
.tpllist2{ list-style:circle; margin:5px 25px; }
.tpllist3{ list-style:square; margin:0 25px; }
.userlist{ overflow:hidden; margin:10px 0; }
	.userlist li{ float:left; margin:0 10px 10px 0; white-space:nowrap; }
	.unum{ clear:both; display:block; width:100%; font-weight:700; }
.safelist{ padding:10px 0; border-top:4px solid #DEEFFA; }
	.safelist li{ margin-bottom:5px; padding-left:20px; line-height:160%; background:url(bg_repno.gif) no-repeat -340px 6px; }
		.safelist p{ margin-bottom:5px; }
		.safelist .txt{ width:150px; }
.infolist{}
	.infolist li{ clear:both; line-height:180%; }
		.infolist em{ float:left; width:120px; }
.tb2 .threadopt{ border-bottom:1px solid #B5CFD9; background:none; vertical-align:top; }
.threadtitle{ padding:10px !important; }
.nowrap li{ float:left; white-space:nowrap; margin-right:5px; }

/* pages */
.pg{ clear:both; margin:10px 0; }
.pg em, .pg a, .pg strong{ 
    background-color:#FFF;
    background-image: -webkit-linear-gradient(top, #FFF, #EFEFEF);
    background-image: -moz-linear-gradient(top, #FFF, #EFEFEF);
    background-image: -o-linear-gradient(top, #FFF, #EFEFEF);
    background-image: linear-gradient(top, #FFF, #EFEFEF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline;
    padding: 5px 9px;
    border: 1px solid #CBCBCB;
    border-bottom-color: #B3B3B3;
    background-color: #FFF;
    color: #666;
    text-decoration: none;
    font: 700 14px Arial;
    overflow: hidden;
}
.pg a, .pg em{margin-right:5px}
.pg a:hover{ 
    background-color: #0096D0;
    background-image: -webkit-linear-gradient(top, #0096D0, #0078C1);
    background-image: -moz-linear-gradient(top, #0096D0, #0078C1);
    background-image: -o-linear-gradient(top, #0096D0, #0078C1);
    background-image: linear-gradient(top, #0096D0, #0078C1);
    border: 1px solid #007CC3;
    border-bottom-color: #005CA1;
    color: #FFF;
}
.pg strong{  
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0078C1;
    background-image: none;
    margin-right:5px;
    border: 1px solid #007CC3;
    border-bottom-color: #005CA1;
    color: #FFF;
}
.pg .prev, .pg .next{
    padding-left: 15px;
    padding-right: 15px;
}
.pg .prev{
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
.pg .next{
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.pg .disabled, .pg .disabled:hover{
    background: #EEE;
    border-color: #DDD;
    color: #999;
}
.icon-arrow-left,.icon-arrow-right{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(i_page.png) no-repeat;
}
.icon-arrow-right{
    background-position: -32px 0;
}

	.pg kbd input{ margin-left:5px; width:20px; vertical-align:middle; }
.cuspages{ margin:3px 0; line-height:200%; }
	.cuspages .pg{ display:inline; clear:none; margin-right:10px; }
.fixsel select{ margin:3px 5px 3px 0; }

/*
.pg .total{
    padding-right: 5px;
    font-size: 14px;
    font-family: Arial 'Microsoft Yahei';
    color: #666;
}

*/

/* link */
.addtr{ padding-left:17px; line-height:25px; background:url(i_global.png) no-repeat -100px -180px;  color:#F60; }
.act{ margin:0 5px; padding: 3px;}
.act:hover { color: #FFF; background: #4586C9;}
.addchildboard, .deleterow, .delchildboard { margin-right: 5px; padding-left:17px; line-height:25px; *line-height: 16px; background:url("i_global.png") no-repeat -100px -100px; color:#FFF; zoom: 1; }
    .delchildboard{ padding-left: 12px; background-position: -100px -140px; cursor: pointer; line-height: 20px;}
	.deleterow { padding-left: 14px; background: url(i_global.png) no-repeat -100px -140px; cursor: pointer;  }
	.addchildboard:hover { text-decoration:none; color:#5FB1F3!important; background-position: -100px -120px; }
    .delchildboard:hover{  background-position: -100px -160px; }
    .deleterow:hover {color: #F99; background-position: -100px -160px; }
.switch{ color:#09C; }
	.switch:hover{ text-decoration:none; }
	.switch img{ margin-right:5px; vertical-align:middle; }
/* .lightlink{ color:#666; text-decoration:underline;} */
.lightlink { color: #999; font-size: 14px}
.lightlink2{ color:#666; }
.parentlink{ color:#09C; text-decoration:underline; }
.menulink{ background:none !important; text-decoration:underline; }
	.menulink:hover{ text-decoration:underline !important; }

/* admincp default */
.anno{ width:200px; }
	.anno p{ margin:4px 0; }
	.anno .txt{ margin-left:3px; width:105px; }
.difflink{ margin:10px 0; }
	.difflink a{ margin-left:10px; color:#666; text-decoration:underline; }
.devteam{ width:350px; }

/* widget */
.checked, .checked .txt{ color:#090; }
.lightfont{ color:#CCC; }
.light, .light a{ color:#AAA; }
.lightnum{ color:#F60; }
.error{ color:#F00; }
.diffcolor2{ color:#090; }
.diffcolor3{ color:#09C; }
.nomargin{ margin:0; }
.marginleft{ margin-left:20px; }
.marginright{ margin-right:10px; }
.margintop{ margin-top:10px; }
.marginbot{ margin-bottom:10px; }
.nobg, .nobg td{ background:none; }
	.nobg .td27{ padding-left:5px; }
.nobdb{ border-bottom:none; }
.nobdt{ border-top:none; }
.noborder, .noborder td{border-bottom:0; border-top:0; }
	.noborder td:hover, .normalfont { color: #000; }
.vtop{ vertical-align:top; }
.lineheight{ line-height:150%; }
.left{ float:left; }
.right{ float:right; }
.center{ text-align:center; }
.bold{ font-weight:700; }
.normal{ font-weight:400; }
.clear{ clear:both; }
.smallfont{font-size:12px!important; font-size: 11px}
.smallfont h3{ font-size:12px; }
/* .fixpadding th,  */
.fixpadding td{ padding-left:5px !important; }
.notice { position: absolute; z-index: 100; width: 100%; }
	.notice a { display: inline-block; padding: 5px 10px; border: solid #CCC; border-width: 0 1px 1px; background: #FEFEE9; color: red; box-shadow: 0 0 5px #B1B1B1; }
		.notice a:hover { text-decoration: none; }
	.notice span { margin-left: 20px; color: #09C; text-decoration: underline; }

.news{ padding:10px 0; border-top:4px solid #DEEFFA; clear: both; }
	.news li { list-style: none; }
#boardnews{ padding-bottom:10px; }

.diff-deleted{ background:#FCC !important; }
.diff-changed{ background:#FF9 !important; }
.diff-added{ background:#CFC !important; }

.verifyimg { max-height: 120px; height: expression(this.height > 120 ? 120 : true); }

/* calendar */
#calendar_week .dropmenu{ filter: none; opacity: 1; background: none; margin-left: 0;position:relative; margin-top:0; border:none; text-align:left; text-decoration:underline; }
.calendar_checked, .calendar_checked a:link, .calendar_checked a:visited{ color:#333; }

/* sub table */
/*
样式不好看，注释掉 @denglh
.sub, .sub .td27{ padding-left:25px !important; }
.sub .rowform{ padding-left:25px !important; width:281px; }
*/
	.sub .rowform .txt, .sub .rowform textarea{ width:225px; }
	.sub select{ width:231px; }

.mt10{margin-top: 10px;}
.mt0{margin-top:0}
.header, .header td, .header th{font-weight: 700; }
.header td, .header th{ background: url(th_bg.png) repeat-x #F7F6F6; border-top: 1px solid #EEE;}
.smallefont{font-size: 11px}

/* 弹窗 */
.fwin { text-align: left; background: #FFF; }
.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r { overflow: hidden; background: #000; opacity: 0.2; filter: alpha(opacity=20); }
.t_l, .t_r, .b_l, .b_r { width: 10px; height: 10px; line-height: 10px; font-size: 0; }
.t_c, .b_c { height: 10px; }
.m_l, .m_r { width: 10px; }
.t_l { border-radius: 10px 0 0 0; -moz-border-radius: 10px 0 0 0; -webkit-border-radius: 10px 0 0 0; -o-border-radius: 10px 0 0 0; }
.t_r { border-radius: 0 10px 0 0; -moz-border-radius: 0 10px 0 0; -webkit-border-radius: 0 10px 0 0; -o-border-radius: 0 10px 0 0; }
.b_l { border-radius: 0 0 0 10px; -moz-border-radius: 0 0 0 10px; -webkit-border-radius: 0 0 0 10px; -o-border-radius: 0 0 0 10px; }
.b_r { border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0; -webkit-border-radius: 0 0 10px 0; -o-border-radius: 0 0 10px 0; }
.m_c { background: #FFF; }
.m_c .tb { margin: 0 0 10px; padding: 0 10px; }
.m_c .c { padding: 0 10px 10px; }
.m_c .o { padding: 8px 10px; height: 26px; text-align: right; border-top: 1px solid #CCC; background: #F5F5F5; }

.flb { padding: 10px 10px 8px; height: 20px; line-height: 20px; }
	.flb em { float: left; font-size: 14px; font-weight: 700; color: #09C; }
		.flb em a { text-decoration: none; }
	.flb span { float: right; color: #999; }
		.flb span a, .flb strong { float: left; text-decoration: none; margin-left: 8px; font-weight: 400; color: #333; }
			.flb span a:hover { color: #999; }
		.flbc { float: left; width: 20px; height: 20px; overflow: hidden; text-indent: -9999px; background: url(cls.gif) no-repeat 0 0; cursor: pointer}
			.flbc:hover { background-position: 0 -20px; }

.fwin .cl li { margin:5px; float: left; }
.fwin .cl li.a { font-weight: 700; }
.fwin .c { clear: both; }
.fwin .dt { width: 100%; }
.fwin .dt th, .fwin .dt td { border-bottom: 1px dotted #D5D5D5; line-height: 20px; }
.fwin .dt th { font-weight: 700; }
.fwin .ss em { background: #eee; width: 16px; line-height: 18px; display: block; float: left; margin: 2px; cursor: pointer; padding-left: 7px;}
.fwin .ss em.a { background: #09f; color: #FFF;}

/* .cl --> Clear 自动闭合 */
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }

.preview { margin-bottom: 8px; width: 570px; height: 340px; border: 1px solid #09C; box-shadow: 3px 3px 3px #EEE; -moz-box-shadow: 3px 3px 3px #EEE; -webkit-box-shadow: 3px 3px 3px #EEE; -o-box-shadow: 3px 3px 3px #EEE; }


/*气泡信息 by dfox */
.prmm { margin-left: -27px; padding-top: 10px; width: 250px; background: transparent url(pm_ntc.gif) no-repeat 0 0; text-align: left; opacity: 0.98; }
	.prmc { padding-bottom: 10px; background: transparent url(pm_ntc.gif) no-repeat -250px 100%; }
		.prmm ul { padding: 0 10px; border: solid #91C8E2; border-width: 0 2px; background: #FFF; }
			.prmm li { border-bottom: 1px solid #F4F4F4; line-height: 29px; display: block; width: 100%; color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -o-text-overflow: ellipsis; }
				.prmm a:hover { text-decoration: none; color: #666; }
.up { padding-top: 0; padding-bottom: 10px; width: 150px; background-position: -500px 100%; }
	.up .prmc { padding-top: 5px; padding-bottom: 0; background-position: -650px 0; }
		.up li { border-bottom: none; line-height: 160%; }

/* 通用的表单样式 */
	.tfm { width: 100%; }
		.tfm caption, .tfm th, .tfm td { padding: 10px 2px; }
			.tfm caption h2 { font-size: 16px; }
			.vt th, .vt td { vertical-align: top; }
		.tfm th { width: 95px; font-weight: 700; }
			.tfm th .rq { float: right; font-size: 14px; }
			.tfm .pt, .tfm .px { margin-right: 3px; width: 282px; }
		.tfm .c, .tfm .tedt, .m_c .tfm .tedt { width: 290px; }
		.tfm .d { clear: both; margin: 5px 0; color: {LIGHTTEXT}; }
			.tfm .d em { margin-left: 5px; color: red; }
			.tfm .d strong { margin-left: 5px; }
		.tfm .p { text-align: right; }
		.tfm .pcl label { display: block; padding: 0 2px 5px; }
			.tfm .pcl .pc { margin-right: 5px; padding: 0; }
		.tfm .l th, .tfm .l td { padding-top: 0; padding-bottom: 0; }
	.bn .tfm caption, .bn .tfm th, .bn .tfm td { padding-top: 5px; padding-bottom: 5px; }
		.bn .tfm th { font-weight: 400; }

/* 普通数据列表 datatable by michael */

.dt { border-top: 1px solid #CDCDCD; width: 100%; }
	.dt th { background: #F2F2F2; }
	.dt td, .dt th { padding: 7px 4px; border-bottom: 1px solid #CDCDCD; }
	.dt .c { width: 50px; }
	.dt .px { height: 16px !important; font-size: 12px; }


/* 外边距 Margin，三组从窄到宽，级别分别为：n, m, w */
	.mtn { margin-top: 5px !important; }
	.mbn { margin-bottom: 5px !important; }
	.mtm { margin-top: 10px !important; }
	.mbm { margin-bottom: 10px !important; }
	.mtw { margin-top: 20px !important; }
	.mbw { margin-bottom: 20px !important; }

.psetting { margin-top: 5px; }
	.psetting a { margin-left: 0; margin-right: 5px; }
	
	/*  
        Name: mod_likeinput
        Level:			Function
        Dependent:		-
        Explain:		自定义用户选择文件框

*/
.likeinput { background: #FFFFFF;   border-color: #999 #E0E0E0 #E0E0E0 #999; border-style: solid; border-width: 1px; margin-right: 3px; padding:0; display:inline-block; }
.likeinput:hover { border-color:#5794BF; }
.likeinput input,
.likeinput textarea{ border:none; background:transparent; margin:0; padding:0;line-height: 17px; padding: 2px 4px; overflow:hidden;}
.likeinput a{ text-indent:-999em; width:20px; height:20px; line-height:20px; display:inline-block; outline:none; background:url("../../../static/image/icon/mail.png") no-repeat -100px -37px; }




.tree-node { background:url("http://cms5com.s22.uweb.com.cn/admin/images/collapsable.gif") no-repeat 0 -20px !important;}
.tree-node-hover { background:url("http://cms5com.s22.uweb.com.cn/admin/images/collapsable.gif") #FAFAFA no-repeat 0 -20px !important;}
.tree-expanded,.tree-collapsed { background-color:#fff !important; }


/*  
        Name: mod_getuser
        Level:			Function
        Dependent:		-
        Explain:		用户选择弹出层

*/
.boxlist { border:1px solid #D4E0F0; background-color:#fff; width:150px; padding:5px; height:260px; overflow:auto; float:left; margin:5px; }

.listP li.a span{ background:url("../../../static/image/icon/mail.png") -40px -100px; float: right; height: 20px; width: 20px; }

.listP li { cursor:pointer; padding-left:5px; line-height:20px; }
.listP li:hover { background-color: #f2f2f2; }
#getuser_ctrl { background: #E7EFFC; border-bottom: 1px solid #ADC6DA; padding-top:5px; }
.listP i { display:inline-block; width:20px; height:20px; background-image:url("../../../static/image/icon/mail.png"); float:left; }
.o-ponline { background-position: 0px -200px !important; }
.o-poffline { background-position: -20px -200px !important; }

/*  
        Name: mod_tree
        Level:			Function
        Dependent:		-
        Explain:		树样式

*/
.depttree li ul,.depttree li ul { padding-left:1em; }
.depttree li a,.depttree li a { padding-left:16px; }
.depttree  li.a,#thisdept li.a,
.depttree  li.a:hover,#thisdept li.a:hover,.listP li.a:hover { color:#000; background-color:#e7effc;  }
.depttree li, .sidebar_tree li { margin: 0; display: block; background: url("../../../static/image/common/tree1.gif") no-repeat; clear: both; cursor: pointer;}
.userlist,.worklist{ padding-left:16px; background-image:url("../../../static/image/common/tree2.gif") !important; }
.userlist:hover { background-color: #f2f2f2; }
.userlist ul { display:none; }
.worklist ul { display:none; }
.catclick { display: block;}
.workclick { display: block;}
li.lasttree { background-image:url("../../../static/image/common/tree4.gif") ; }
li.lastclosedtree { background-image:url("../../../static/image/common/tree5.gif") ; }
li.closedtree { background:url("../../../static/image/common/tree0.gif") no-repeat ; }
li.listchild{ background-image:url("../../../static/image/common/tree2.gif"); }
li.lastchild { background-image:url("../../../static/image/common/tree3.gif") !important; }
.checkall,.uncheckall {  background:url("../../../static/image/icon/mail.png") -80px -80px ; width:16px; height:16px; }
.depttree .ctrl { float: left; width: 16px; height: 22px; }

/* easyui 重定义样式 */
.window {
    background: none repeat scroll 0 0 #EAF2FA !important;
    border: 1px solid #BBBBBB !important;
    border-radius: 0 0 0 0 !important;
    padding: 0 !important;
}
.window-header {
    border-bottom: 1px solid #D9E5F2 !important;
    height: 21px;
}
.window-header .panel-tool {
    right: 5px !important;
    top: 5px !important;
}
.panel-title {
    padding: 5px !important;
}
.window-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border-width: 0 !important;
}
.window-shadow {
    background: none repeat scroll 0 0 #BBBBBB !important;
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    margin: -6px 0 0 -6px;
    opacity: 0.4;
    padding: 6px;
}

/* user */
.y {  float: right;}
.hide{ display: none}
.likeinput { background: #FFFFFF;   border-color: #999 #E0E0E0 #E0E0E0 #999; border-style: solid; border-width: 1px; margin-right: 3px; padding:0; display:inline-block; }
.likeinput:hover { border-color:#5794BF; }
.likeinput input,
.likeinput textarea{ border:none; background:transparent; margin:0; padding:0;line-height: 17px; padding: 2px 4px; overflow:hidden;}
.likeinput a{ text-indent:-999em; width:20px; height:20px; line-height:20px; display:inline-block; outline:none; background:url("../../../static/image/icon/mail.png") no-repeat -100px -37px; }
.getuser, .getprcs, .getprcsuser {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #ADC6DA;
    min-width: 60px;
    width: 340px;
    text-align: left;
    line-height: 150%;
}
#getuser_ctrl {
    background: none repeat scroll 0 0 #E7EFFC;
    border-bottom: 1px solid #ADC6DA;
    padding-top: 5px;
    text-align
}
#getuser_ctrl .tb {
    width: auto;
    border-bottom: 1px solid #CCCCCC;
    line-height: 30px;
    margin-top: 10px;
    max-height: 31px;
    padding-left: 5px;
}
.tb li{
    /*float: left; 影响原来的技巧提示列表*/
    margin: 0 3px -1px 0;
}
.tb_s {
    line-height: 26px;
    margin-top: 0;
}
.popupfix a{
    color: #555555;
}

.checkall, .uncheckall {
    background: url("../../../static/image/icon/mail.png") repeat scroll -80px -80px transparent;
    height: 16px;
    width: 16px;
}
.listP i {
    background-image: url("../../../static/image/icon/mail.png");
    display: inline-block;
    float: left;
    height: 20px;
    width: 20px;
}
.o-poffline {
    background-position: -20px -200px !important;
}
.o-ponline {
    background-position: 0 -200px !important;
}
.tb .y {
    float: right;
    margin-right: 0;
}

/* 人员、岗位、部门选择框样式 */
#getUser .tb li { float: left; margin: 0 3px -1px 0; }
#append_parent .tb li.y { float: right; }
.getuser .flbc {
    background: url("../../../static/image/common/cls.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
}
.getuser .flbc:hover{
    background-position: 0 -20px;
}
.getuser .tb a, .getprcsuser .tb a {
    background: url("../../../static/image/common/pn.png") repeat scroll 0 -52px #2868B8;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    display: block;
    padding: 0 10px;
}
.getuser .tb .a a, .getuser .tb .current a, .getprcsuser .tb .a a, .getprcsuser .tb .current a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../../../static/image/common/pn.png") repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-weight: 700;
}
.boxlist {
    background-color: #FFFFFF;
    border: 1px solid #D4E0F0;
    float: left;
    height: 260px;
    margin: 5px;
    overflow: auto;
    padding: 5px;
    width: 150px;
}
.userlist, .worklist {
    background-image: url("../../../static/image/common/tree2.gif") !important;
    padding-left: 16px;
}
.userlist ul {
    display: none;
}
ul li, .xl li {
    list-style: none outside none;
}
.depttree a {
    display: block;
}
.depttree li a, .depttree li a {
    padding-left: 16px;
}
.depttree li ul, .depttree li ul {
    padding-left: 1em;
}
.depttree li, .sidebar_tree li {
    background: url("../../../static/image/common/tree1.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    cursor: pointer;
    display: block;
    margin: 0;
}
.depttree li.a, #thisdept li.a, .depttree li.a:hover, #thisdept li.a:hover, .listP li.a:hover {
    background-color: #E7EFFC;
    color: #000000;
}
.userlist:hover{ background: #F2F2F2 no-repeat}
li.lasttree {
    background-image: url("../../../static/image/common/tree4.gif");
}
li.lastchild {
    background-image: url("../../../static/image/common/tree3.gif") !important;
}
li.closedtree {
    background: url("../../../static/image/common/tree0.gif") no-repeat scroll 0 0 transparent;
}
li.lastclosedtree {
    background-image: url("../../../static/image/common/tree5.gif");
}
.listP li {
    cursor: pointer;
    line-height: 20px;
    padding-left: 5px;
}
.listP li:hover{
    background-color: #F2F2F2;
}
.listP li.a span {
    background: url("../../../static/image/icon/mail.png") repeat scroll -40px -100px transparent;
    float: right;
    height: 20px;
    width: 20px;
}

/* position */
#thispos{	border: 1px solid #D4E0F0;	background-color: #fff;	padding: 5px;	height: 260px;	overflow: auto;	float: left;	display: inline;	line-height:22px;	width:221px; }
#thispos li.a span { text-align: left;	background: url("../../../static/image/icon/mail.png") -40px -100px;	float: right;	height: 20px;	width: 20px;}
#thispos .a{ background-color:#E7EFFC; }
#thispos .a span{	background: url("../../../static/image/icon/mail.png") repeat scroll -40px -100px transparent;    float: right;    height: 20px;    width: 20px;}
#getPos .ctrl{ float: left; width: 16px; height: 22px; }




/* dept */
#thisdept li.a span {background: url("../../../static/image/icon/mail.png") -40px -100px; 	float: right;	height: 20px;	width: 20px;}
#thisdept{	border: 1px solid #D4E0F0;	background-color: #fff;	padding: 5px; text-align:left;	height: 260px;	overflow: auto;	float: left;	display: inline;	line-height:22px;	width:221px;}
.depttree a{ display:block; }
.deptlist {	background-image: url("../../../static/image/common/tree2.gif") !important; }
.deptlist:hover {	background-color:#f2f2f2; }
.alldept:hover {	background-color:#f2f2f2;}
#thisdept .a{ background-color:#E7EFFC; }
#thisdept .a span{	background: url("../../../static/image/icon/mail.png") repeat scroll -40px -100px transparent;    float: right;    height: 20px;    width: 20px; }
#getDept .ctrl{ float: left; width: 16px; height: 22px; }

/* calendar */
#calendar {
    padding:5px;
    text-align:left;
    border:1px solid #DDD;
    background:#FFF;
    margin-bottom:0.8em;
}
#calendar td {
    padding:2px;
    font-weight:700;
}
#calendar_week td {
    height:2em;
    line-height:2em;
    border-bottom:1px solid #C2D5E3;
}
#calendar_week a {
    color:#369;
}