::selection{ background-color: #00A0B1; color: white; }
::moz-selection{ background-color: #00A0B1; color: white; }
::webkit-selection{ background-color: #00A0B1; color: white; }

/* header */
.header{
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    min-height: 50px;
    padding-top: 10px;
    z-index: 99;
    background: #333333 url('../img/bg-body-bar.jpg');
    background-position:0 0;
    background-repeat:repeat no-repeat;
    border-bottom: 1px solid #2E2E2E;
}
.header.fixed{
    position: fixed;
}
.header.fixed-side{
    position: absolute;
}

.control-mode{
    position: fixed;
    top: 0px;
    right: 20px;
    display: inline-block;
    text-align: right;
    z-index: 999;
    color: #FFFFFF;
}
.choice-mode,
.choice-mode > li{
    margin: 0px;padding: 0px;
    list-style: none;
    opacity: .9;
}
.choice-mode > li{
    display: inline;
    line-height: 48px;
}
.choice-mode > li > a{
    padding: 0px 10px;
}

.themes-changer{
    display: inline-block;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.control-mode .navigate-mode{
    margin: 2px 0px;
    padding: 0px;
    
}
.control-mode .navigate-mode > a{
    padding: 2px 5px;
    opacity: .9;
}


/* navbar */
.navbar-helper{
    display: block;
}

.navbar-helper *{
    margin: 0px;
}

.navbar-helper .panel-sitename{
    padding-left: 20px;
}

.navbar-helper .panel-sitename h1,
.navbar-helper .panel-sitename h2,
.navbar-helper .panel-sitename h3,
.navbar-helper .panel-sitename h4,
.navbar-helper .panel-sitename h5,
.navbar-helper .panel-sitename h6{
    font-size: 2.3em;
    font-family: 'Aclonica', serif;
    color: #F1F1F1;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.panel-search .form-search .search-query{
    color: #444444;
}
.input-icon-append, .input-icon-prepend{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.input-icon-prepend input[type=text],
.input-icon-prepend input[type=password]{
    padding-left: 35px;
}
.input-icon-append input[type=text],
.input-icon-append input[type=password]{
    padding-right: 30px;
}

.input-icon-prepend .icon{
    position: absolute;
    left: 0px;
    margin-top: 4px;
    display: inline-block;
    background: none;
    border: none;
    width: 20px;
    border-right: 1px solid #DDDDDD;
}
.input-icon-prepend span.icon,
.input-icon-prepend div.icon,
.input-icon-prepend a.icon{
    left: 10px;
    margin-top: 5px;
}
.input-icon-prepend .icon button{
    background: transparent;
    border: none;
    margin-left: -5px;
}

.input-icon-append .icon{
    position: absolute;
    right: 0px;
    margin-top: 4px;
    display: inline-block;
    background: none;
    border: none;
    width: 25px;
    padding-left: 5px;
    border-left: 1px solid #DDDDDD;
}
.input-icon-append a.icon{
    right: 10px;
    margin-top: 5px;
}

.input-icon-append .icon div,
.input-icon-append .icon a,
.input-icon-prepend .icon div,
.input-icon-prepend .icon a{
    background: transparent;
    border: none;
    margin-left: 2px;
}
.input-icon-append button.icon{
    width: 30px;
}
.input-append.input-icon-prepend .add-on ,
.input-prepend.input-icon-append .add-on {
    padding: 5px 0px 5px 2px;
    background: none;
    border: 0px;
}
.input-append.input-icon-prepend  .add-on input,
.input-prepend.input-icon-append .add-on input{
    margin-top: -5px;
    padding: 4px;
    padding-left: 35px;
}

.input-append.input-icon-prepend .btn,
.input-prepend.input-icon-append .btn{
    height: 30px;
}

.input-append.input-icon-prepend .add-on .icon,
.input-prepend.input-icon-append .add-on .icon{
    z-index: 3;
    margin: 0px;
    width: 25px;
    margin-left: -5px;
}


.navbar-helper .panel-search,
.navbar-helper .panel-ext{
    padding-top: 5px;
}

.panel-ext{
    margin-left: -20px;
}
.panel-ext .btn-group{
    margin-top: -10px;
    margin-right: -8px;
}
.panel-ext .btn-group li, .content-header .btn-group li{
    font-size: 12px;
}

ul.dropdown-notification{
    position: absolute;
    margin-top: 2px;
    list-style: none;
    background: #FFFFFF;
    width: 320px;
    max-width: 320px;
    max-height: 460px;
    overflow: auto;
    overflow-x: hidden;
    color: #999;
    display: none;
}
ul.dropdown-notification > li{
    margin: 0px;
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #CDCDCD;
    background: #FFFFFF;
    color: #444;
}
ul.dropdown-notification > li h1,
ul.dropdown-notification > li h2,
ul.dropdown-notification > li h3,
ul.dropdown-notification > li h4,
ul.dropdown-notification > li h5,
ul.dropdown-notification > li h6{
    font-size: 1.2em;
}

ul.dropdown-notification > li .notification{
    padding: 5px 5px 5px 20px;
}
ul.dropdown-notification > li .notification:before{
    content: '\2014 \00A0';
}

ul.dropdown-notification > li.new{
    background: rgba(238, 238, 238, 0.4);
    color: #999;
}

ul.dropdown-notification > li:hover{
    background: rgba(238, 238, 238, .6);
    color: #FFFFFF;
}
ul.dropdown-notification > li:hover .media-heading{
    color: #ffffff;
}
ul.dropdown-notification > li:hover .media-heading small{
    color: #f3f3f3;
}

ul.dropdown-notification > li.dropdown-header, ul.dropdown-notification > li.dropdown-footer{
    display: block;
    font-weight: bold;
}

ul.dropdown-notification > li > a{
    display: block;
}

ul.dropdown-notification > li.dropdown-header a, ul.dropdown-notification > li.dropdown-footer a{
    display: inline-block;
    font-weight: bold;
}
ul.dropdown-notification > li.dropdown-header a:hover, ul.dropdown-notification > li.dropdown-footer a:hover{
    text-decoration: underline;
    background: none;
    color: #444;
    filter: none;
}

ul.dropdown-notification > li.dropdown-header:hover{
    background: #FFFFFF;
}

.user-group > *{
    outline: none;
}

.user-group > a:first-child .btn{
    display: none;
}

.user-group .dropdown-user{
    margin-top: 2px;
    margin-left: -305px;
    padding: 20px 20px 0px 20px;
    min-width: 320px;
}

.user-group .dropdown-user .description{
    padding-left: 20px;
    display: inline-block;
}
.user-group .dropdown-user img:hover{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}
.user-group .dropdown-user img{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

.user-group .dropdown-user .action{
    margin: 5px auto 5px auto;
}

.user-group .dropdown-user li.dropdown-footer{
    text-align: left;
    margin: 20px -20px 0px -20px;
    padding: 10px 10px 10px 20px;
    background: #EEE;
}

/* end navbar */
/* end header */


.section{
    display: block;
    position: relative;
}

/** sidebar**/
/** sidebar left**/
.side-left{
    position: absolute;
    display: block;
    height: 100%;
    top: 60px;
    background: #333333 url('../img/bg-body-bar.jpg');
    border: 1px solid #2E2E2E;
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
    z-index: 98;
}
.side-left.fixed{
    position: fixed;
}

.sidebar{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #999;
}

.sidebar > li > a > .badge,
.sidebar > li > a > .label{
    position: absolute;
    top: 5px;
    left: 60%;
    padding: 2px 5px 2px 5px;
    font-size: 11px;
}
.sidebar > li{
    position: relative;
    margin: 0px;
    padding: 10px 0px;
    list-style: none;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 11px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #2E2E2E;
}
.sidebar > li > a{
    color: #CDCDCD;
    background-image: -webkit-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
    background-image: -moz-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
    background-image: -o-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
    background-image: -ms-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
    background-image: linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
}
.sidebar > li:hover, .sidebar a:hover{
    color: #008299;
}

.sidebar > li:hover ul{ /* this block for display sub-sidebar if any*/
    display: block;
}

.sidebar > li.active > a{
    color: #F1F1F1;
}
.sidebar > li.active:after, .sidebar > li.active:before{
    right: -1px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sidebar > li.active:after{
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #FFFFFF;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.sidebar > li.active.first:after{
    border-right-color: #EDEDED;
}

.sidebar > li.active:before{
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #CDCDCD;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
/** end sidebar left **/

/** sidebar right **/
.side-right{
    position: absolute;
    display: block;
    height:100%;
    top: 60px;
    background: #FFFFFF url('../img/noise.png');
/*    width: 14.893617021276595%;
    *width: 14.840425531914894%;*/
    width: 16%;
    margin-left: -2.35%;
    border: 1px solid #CDCDCD;
}
.side-right.fixed{
    position: fixed;
}
.side-right.side-right-large{
    width: 41.8%;
}
.side-right[data-toggle=on]{
    position: fixed;
    display: inline-block;
    width: 216px;
    top : 60px;
    right : 0px;
    z-index : 98;
}
.side-right.side-right-large[data-toggle=on]{
    width: 545px;
}
.sideright-toggle-nav{
    position: fixed;
    display: inline-block;
    top: 61px;
    right: 0px;
    border: 1px solid #CDCDCD;
    border-right: 0 none;
    padding: 2px 10px;
    line-height: 30px;
    background: #E9E9E9 url('../img/bg-content-header.png');
    font-size: .8em;
    z-index: 97;
}

.sidebar-right > .sidebar-right-header{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #CDCDCD;
    background: #E9E9E9 url('../img/bg-content-header.png');
    color: #626262;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
}
.sidebar-right > .sidebar-right-header h1,
.sidebar-right > .sidebar-right-header h2,
.sidebar-right > .sidebar-right-header h3,
.sidebar-right > .sidebar-right-header h4,
.sidebar-right > .sidebar-right-header h5,
.sidebar-right > .sidebar-right-header h6{
    font-size: 1.2em;
    margin: 0px;
}

.sidebar-right > .sidebar-right-header h1 > i:first-child,
.sidebar-right > .sidebar-right-header h2 > i:first-child,
.sidebar-right > .sidebar-right-header h3 > i:first-child,
.sidebar-right > .sidebar-right-header h4 > i:first-child,
.sidebar-right > .sidebar-right-header h5 > i:first-child,
.sidebar-right > .sidebar-right-header h6 > i:first-child{
    margin-right: 5px;
}
.sidebar-right > .sidebar-right-header h1 > small,
.sidebar-right > .sidebar-right-header h2 > small,
.sidebar-right > .sidebar-right-header h3 > small,
.sidebar-right > .sidebar-right-header h4 > small,
.sidebar-right > .sidebar-right-header h5 > small,
.sidebar-right > .sidebar-right-header h6 > small{
    font-size: .8em;
    font-weight: normal;
}
.sr-header-right{
    float: right;
}
.sr-header-left,
.sr-header-right{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sr-header-left *,
.sr-header-right *{
    margin: 0px;
}
.sr-header-right .balance-value{
    display: block;
}
.sr-header-left small,
.sr-header-right small{
    font-size: .8em;
}
.sidebar-right > .sidebar-right-control{
    background: #E9E9E9 url('../img/bg-content-header.png');
    font-size: .8em;
    height: 36px;
    margin: 0px;
    border-bottom: 1px solid #CDCDCD;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.sidebar-right-control > ul.sr-control-item{
    margin: 0px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;
}
.sidebar-right > .sidebar-right-content{
    padding: 5px;
    font-size: .8em;
    text-align: justify;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar-right-control > ul.sr-control-item > li{
    margin: 0px;
    position: relative;
    margin-right: 0px;
    padding: 0px;
    list-style: none;
    line-height: 36px;
    display: table-cell;
    text-align: center;
    border-right: 1px solid #CDCDCD;
}
.sidebar-right-control > ul.sr-control-item > li a{
    margin: 0px;
    display: block;
    height: 100%;
    padding: 0px 10px;
}
.sidebar-right-control > ul.sr-control-item > li.active{
    background: #FFFFFF url('../img/noise.png');
}
.sidebar-right-control > ul.sr-control-item > li.active:after{
    position: absolute;
    left: 0px;
    content: ' ';
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #FFF;
}
.sidebar-right-control > ul.sr-control-item > li.divider{
    position: absolute;
    padding: 0px;
    height: 38px;
    width: 0px;
    border-right: 1px solid #CDCDCD;
}

/* side contact */
.side-contact{
    overflow: hidden;
}

.side-contact ul.contact-list{
    max-height: 380px;
    overflow: hidden;
    overflow-y: auto;
}
.side-contact ul.contact-list,
.side-contact ul.contact-list li.contact-alt{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.side-contact ul.contact-list li.contact-alt:hover{
    background: #f1f1f1 url('../img/noise.png');
}
.side-contact ul.contact-list .contact-alt:first-child{
    border: 1px solid #CDCDCD;
}
.side-contact ul.contact-list .contact-alt{
    border: 1px solid #CDCDCD;
    border-top: none;
}
.side-contact ul.contact-list .contact-alt.active{
    border-left: none;
    background: #FFFFFF url('../img/noise.png');
    color: #00A0B1;
}

.side-contact ul.contact-list .pull-left{
    margin-right: 10px;
}
.side-contact ul.contact-list .pull-right{
    margin-left: 10px;
}

.side-contact ul.contact-list .contact-item-body{
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
.side-contact ul.contact-list .contact-alt a{
    display: block;
    height: 42px;
    max-height: 42px;
    overflow: hidden;
    padding: 5px 5px 0px 5px;
}

.side-contact ul.contact-list .contact-alt .status{
    float: right;
    line-height: 32px;
    margin-right: 5px;
}

.side-contact ul.contact-list .contact-item-heading{
    margin: 0px;
    white-space: nowrap;
}
.side-contact ul.contact-list .help-block{
    margin: 0px;
    margin-top: -5px;
    white-space: nowrap;
}
.side-contact ul.contact-list .contact-search{
    
}
.side-contact .contact-control ul li{
    font-size: .9em;
}


/* side chat */
.side-chat{
    border: 1px solid #CDCDCD;
    border-bottom: none;
    overflow: hidden;
    background: #FFFFFF url('../img/noise.png');
}
.side-chat .chat-header{
    padding: 10px 5px;
    border-bottom: 1px solid #CDCDCD;
    height: 24px;
    color: #626262;
    background: #f1f1f1 url('../img/noise.png');
}
.side-chat .chat-header *{
    margin: auto;
    white-space: nowrap;
}
.side-chat .chat-header .chat-action{
    line-height: 24px;
}
.side-chat .chat-header .chat-action *{
    font-weight: normal;
    font-size: 1em;
    color: #626262;
    margin-right: 3px;
}
.side-chat .chat-content{
    border-bottom: 1px solid #CDCDCD;
    padding: 5px;
    padding-bottom: 20px;
    overflow: hidden;
    overflow-y: auto;
    height: 220px;
    max-height: 220px;
}

.side-chat .chat-content .chat-in,
.side-chat .chat-content .chat-out{
    margin-bottom: 5px;
}
.side-chat .chat-content .chat-in .chat-time,
.side-chat .chat-content .chat-out .chat-time{
    float: right;
}
.side-chat .chat-content .chat-out .chat-user{
    color: #00A600;
}
.side-chat .chat-content .chat-in .chat-text,
.side-chat .chat-content .chat-out .chat-text{
    clear: both;
    text-align: left;
}
.side-chat .chat-content .chat-in .chat-user{
    color: #00A0B1;
}

.side-chat .chat-typed{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #CDCDCD;
    color: #999;
}

.side-chat .chat-input{
    padding: 5px;
    border-bottom: 1px solid #CDCDCD;
}
.side-chat .chat-input textarea{
    resize: none;
    font-size: 1em;
    color: #626262;
    max-width: 100%;
}
.side-chat .chat-input textarea:focus,
.side-chat .chat-input textarea:active{
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    border-color:rgba(205, 205, 205, 0.8);
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    outline:0;
}
.side-chat .chat-input .chat-desc{
    padding:  0px 10px 0px 10px;
    text-align: center;
}


/* side task */
.side-task{
    border: 1px solid #CDCDCD;
    color: #626262;
    overflow: hidden;
}

.side-task > .task{
    margin: 0px;
    padding: 5px;
    background: #EDEDED url('../img/bg-content.jpg');
    border-bottom: 1px solid #CDCDCD;
    white-space: nowrap;
    position: relative;
}
.side-task > .task:last-child{
    border-bottom: none;
}

.side-task > .task > .task-header{
    display: block;
    font-size: 12px;
    white-space: nowrap;
}
.side-task > .task > .task-desc{
    text-align: left;
    white-space: nowrap;
    margin-left: 5px;
}
.side-task > .task > .close{
    position: absolute;
    right: 5px;
}

.side-task > .task.active > .task-desc{
    display: block;
    color: #999;
    white-space: normal;
}
.side-task > .task.active > .progress{
    max-height: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* side activity */
.side-activity {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background: transparent;
    color: #626262;
}

.side-activity:hover{
    color: #626262;
}

.side-activity:hover a{
    color: #2E8DEF;
}

.side-activity-header{
    position: relative;
    display: block;
}
.side-activity-header p{
    display: inline-block;
    background: #FFFFFF url('../img/noise.png');
    padding-right: 5px;
}

.side-activity-header:before{
    content: '';
    position: absolute;
    top: 30%;
    height: 2px;
    width: 100%;
    border-top: 1px double #CDCDCD ;
    border-bottom: 1px double #CDCDCD ;
    z-index: -1;
}

.side-activity-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.side-activity-list li{
    list-style: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.side-activity-list a:hover{
    color: #DC572E;
    text-decoration: underline;
}

/* side nav */
.side-nav{
    overflow: hidden;
}
.nav-side{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav-side > li:first-child{
    border: 1px solid #CDCDCD;
}
.nav-side > li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    white-space: nowrap;
    border: 1px solid #CDCDCD;
    border-top: none;
    background: #EDEDED url('../img/bg-content.jpg');
}

.nav-side > li:hover{
    background: #f1f1f1 url('../img/noise.png');
    color: #008299;
}

.nav-side > li.active{
    background: #FFFFFF url('../img/noise.png');
    border-left: none;
    border-right: 5px solid #008299;
}
.nav-side > li.active:hover{
    color: inherit;
}
.nav-side > li > a{
    margin: 0px;
    padding: 5px;
    display: block;
}
.nav-side > li > a > i:first-child{
    margin-right: 10px;
}

.side-box{
    overflow: hidden;
    padding: 5px;
}
.progress.progress-mini,
.bar-st.bar-mini{
    height: 8px;
    max-height: 8px;
    margin-bottom: 8px;
}

.progress.progress-mini > p,
.bar-st.bar-mini > p{
    margin-top: -6px;
    font-size: 8px;
    color: #FFFFFF;
}
/** end sidebar right **/

/** sub-sidebar **/
.sub-sidebar, .sub-sidebar-form{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 90%;
    background: #FFFFFF;
    list-style: none;
    z-index: 99;
    min-width: 80px;
    display: none;
    white-space: nowrap;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #CDCDCD;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.sub-sidebar-form{
    padding-bottom: 10px;
}

.sub-sidebar:before, .sub-sidebar:after,
.sub-sidebar-form:before, .sub-sidebar-form:after{
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.sub-sidebar:after{
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.sub-sidebar-form:after{
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 10px;
    top: 20px;
    margin-top: -10px;
}
.sub-sidebar:before{
    border-color: rgba(215, 215, 215, 0);
    border-right-color: #CDCDCD;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
.sub-sidebar-form:before{
    border-color: rgba(215, 215, 215, 0);
    border-right-color: #CDCDCD;
    border-width: 11px;
    top: 20px;
    margin-top: -11px;
}

.sub-sidebar > li{
    position: relative;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    color: #626262;
    width: 60px;
}

.sub-sidebar li a{
    color: #626262;
}
.sub-sidebar li:hover a,
.sub-sidebar li.active a{
    color: #008299;
}
.sub-sidebar li.divider{
    height: 60px;
    width: 2px;
    margin-top: -10px;
    margin-bottom: -12px;
    border-right: 1px solid transparent;
    border-left: 1px solid #CDCDCD;
}
.sub-sidebar-form > li{
    position: relative;
    margin: 0px;
    padding: 5px 10px 2px 10px;
    list-style: none;
    display: block;
    font-size: 1.2em;
    color: #626262;
    min-width: 120px;
    text-align: left;
}

.sub-sidebar > li a,
.sub-sidebar-form > li a{
    display: block;
    margin: 0px;
    padding: 5px;
    color: #626262;
}
.sub-sidebar-form > li > a i,
.sub-sidebar-form > li > a .sidebar-text{
    color: #626262;
}
.sub-sidebar-form > li > a:hover i,
.sub-sidebar-form > li > a:hover .sidebar-text,
.sub-sidebar-form > li.active > a i,
.sub-sidebar-form > li.active > a .sidebar-text{
    color: #FFFFFF;
}
.sub-sidebar-form > li > a:hover,
.sub-sidebar-form > li.active > a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #00a0b1;
    background-image: -moz-linear-gradient(top, #00a0b1, #008299);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a0b1), to(#008299));
    background-image: -webkit-linear-gradient(top, #00a0b1, #008299);
    background-image: -o-linear-gradient(top, #00a0b1, #008299);
    background-image: linear-gradient(to bottom, #00a0b1, #008299);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0b1', endColorstr='#008299',GradientType=0 );
    background-repeat: repeat-x;
}
.sub-sidebar-form > li.title{
    font-size: 1em;
}
.sub-sidebar-form > li.divider{
    border-bottom: 1px solid #CDCDCD;
    margin: 0px 10px 0px 10px;
}

/** end sub-sidebar**/
/** end sidebar**/


/* content */
.content{
    margin-top: 60px;
    margin-left: -3.4%;
    margin-bottom: -62px;
    display: block;
    background: #EDEDED url('../img/bg-content.jpg');
    border: 1px solid #CDCDCD;
    border-left: none;
    padding-bottom: 0px;
    min-height: 580px;
}
.content.content-large{
    margin-left: -2.5%;
}
.content.content-large[data-toggle=on]{
    margin-bottom: -92px;
}
.content.content-small{
    margin-left: -4%;
}
.content.content-small > .content-header{
    max-height: 40px;
    overflow: hidden;
}
.content.content-small > .content-breadcrumb > .breadcrumb{
    max-height: 20px;
    overflow: hidden;
}
/* content-header */
.content > .content-header{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #CDCDCD;
    background: #E9E9E9 url('../img/bg-content-header.png');
    color: #626262;
}

.content > .content-header > ul.content-header-action{
    display: block;
    list-style: none;
    margin: 0px; padding: 0px;
}

.content > .content-header > ul.content-header-action li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    float: left;
}
.content > .content-header > ul.content-header-action li:hover .badge-circle{
    opacity: 1;
}

.content > .content-header > ul.content-header-action li.divider{
    height: 40px;
    border-right: 1px solid #CDCDCD;
}

.content > .content-header > ul.content-header-action li .badge-circle{
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
}

.content > .content-header > ul.content-header-action li .badge-circle > div{
    width: 40px;
    height: 30px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    display: inline-block;
    padding-top: 8px;
}

.content > .content-header > ul.content-header-action li .badge-circle i{
    padding: 0px;
    margin: -12px 0px;
}
.content > .content-header > ul.content-header-action li .action-text{
    display: inline-block;
    font-weight: bold;
    margin: 5px 0px 5px 5px;
}
.content > .content-header > ul.content-header-action li .action-text span{
    display: block;
    font-weight: normal;
    text-align: center;
    margin-top: -5px;
}

.content > .content-header h1,
.content > .content-header h2,
.content > .content-header h3,
.content > .content-header h4,
.content > .content-header h5,
.content > .content-header h6{
    font-size: 1.2em;
    margin: 0px;
}

.content > .content-header h1 > i:first-child,
.content > .content-header h2 > i:first-child,
.content > .content-header h3 > i:first-child,
.content > .content-header h4 > i:first-child,
.content > .content-header h5 > i:first-child,
.content > .content-header h6 > i:first-child{
    margin-right: 5px;
}
.content > .content-header h1 > small,
.content > .content-header h2 > small,
.content > .content-header h3 > small,
.content > .content-header h4 > small,
.content > .content-header h5 > small,
.content > .content-header h6 > small{
    font-size: .8em;
    font-weight: normal;
}

/* end content-header */

/* content-breadcrumb */
.content-breadcrumb, 
.content-breadcrumb > .breadcrumb-nav,
.content-breadcrumb > .breadcrumb-nav > li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.content-breadcrumb > .breadcrumb{
    background: #FFFFFF url('../img/noise.png');
    font-size: .8em;
    margin: 0px;
    border-bottom: 1px solid #CDCDCD;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.content-breadcrumb > .breadcrumb a{
    color: #626262;
}

.content-breadcrumb > .breadcrumb-nav{
    background: #FFFFFF url('../img/noise.png');
    border-bottom: 1px solid #CDCDCD;
}
.content-breadcrumb > .breadcrumb-nav > li{
    float: left;
}

.content-breadcrumb > .breadcrumb-nav.pull-right > li.divider{
    height: 36px;
    margin: -5px 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #CDCDCD;
}
.content-breadcrumb > .breadcrumb-nav.pull-right > li > a{
    font-size: 10px;
}

.content-breadcrumb > .breadcrumb-nav.pull-right > li > a{
    color: #626262;
}
.content-breadcrumb > .breadcrumb-nav.pull-right > li > a:hover{
    text-decoration: none
}

.content-breadcrumb > .breadcrumb-nav.pull-right{
    padding: 5px 15px;
}
/* end content-breadcrumb */

/* content-body */
.content > .content-body{
    padding: 40px 20px 40px 20px;
    font-size: .9em;
    background: #FFFFFF url('../img/noise.png');
    min-height: 540px;
}
/* end content-body */

/* end content */

/* box */
/* box default */
.box{
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 40px;
/*    border: 1px solid #CDCDCD;*/
}

.box > .box-header{
    padding: 10px 20px 10px 20px;
    border: 1px solid #CDCDCD;
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    /* for default font color for header box, you can set this with helper color (see stilear-helper.css) */
    /* for default background color for header box, you can set this with helper background color or helper gradient color (see stilear-helper.css) */
}

.box > .box-header > .header-control{
    float: right;
    margin-right: -5px;
}
.box > .box-header > .header-control a,
.box-tab > .box-header > .header-control a{
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.box > .box-body{
    display: block;
    border: 1px solid #CDCDCD;
    border-top: none;
    position: relative;
    padding: 10px 20px 10px 20px;
    background: #FFFFFF url('../img/noise.png');
}
.box > .box-body  form  .form-actions{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -30px;
}

.box > .box-body .ace-editor{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -10px -10px -10px -20px;
    min-height: 480px;
}
/* end box default */

/* box tabs */
.box-tab{
    border: 1px solid #CDCDCD;
    padding: 5px;
    margin-bottom: 40px;
    background: #FFFFFF url('../img/noise.png');
}

.box-tab > .box-header .nav-pills{
    border-bottom: 1px solid #CDCDCD;
}
.box-tab > .box-header > .header-control{
    margin-right: 10px;
    margin-top: 5px;
}
.box-tab > .box-body .tab-content{
    margin-top: -10px;
}

.box-tab > .box-body .media{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.box-tab > .box-body .media:last-child{
    border-bottom: 0px solid #eee;
    padding-bottom: 20px;
}

/* box tab bellow*/
.box-tab > .tabs-below{
    margin-bottom: -20px;
}
.box-tab > .tabs-below .nav-pills{
    border-top: 1px solid #CDCDCD;
    padding-top: 5px;
}
/* end box tab bellow*/
/* end box tabs */
/* end box */


/* dashboard */
.dashboard-stat{
    position: relative;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
}
.dashboard-stat input[type=text]{
    font-size: 20px;
    border-color: transparent;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}
.dashboard-stat input[type=text]:focus{
    border-color: transparent;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}
.stat-label{
    margin-top: 10px;
    text-align: center;
    background: #EEEEEE;
    font-size: 11px;
    padding: 5px;
}
/* end dashboard */


/* interface */
.bar-st {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress > p,
.bar-st > p{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.bar-st > span {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
        -moz-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
            transition: width 0.6s ease;
}

.bar-gradient > span {
    box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#33ffffff', 
        endColorstr='#33000000',
        GradientType=0 );
}

.bar-gloss > span {
    background-image: -moz-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,rgba(255,255,255,0.2)), 
        color-stop(45%,rgba(255,255,255,0.1)), 
        color-stop(55%,rgba(0,0,0,0.2)), 
        color-stop(100%,rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(top, 
        rgba(255,255,255,0.5) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: linear-gradient(to bottom, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
}

.bar-stripe > span {
    background-size:30px 30px;
    -moz-background-size:30px 30px;
    -webkit-background-size:30px 30px;
    -o-background-size:30px 30px;

    background-image: -moz-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%, 
        rgba(255,255,255,0.15) 25%, 
        rgba(255,255,255,0) 25%, 
        rgba(255,255,255,0) 50%, 
        rgba(255,255,255,0.15) 50%, 
        rgba(255,255,255,0.15) 75%, 
        rgba(255,255,255,0) 75%, 
        rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, 
        color-stop(0%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.2)), 
        color-stop(75%,rgba(255,255,255,0.2)),
        color-stop(75%,rgba(255,255,255,0)),
        color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(-45deg, 
        rgba(255,255,255,0.3) 0%,
        rgba(255,255,255,0.3) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0.3) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: linear-gradient(135deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
}

.bar-ext-rotate > span {
    background-size: 10px 60px; 
    background-position: 0;
    background-image: -moz-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -webkit-gradient( radial, center center, 0, center center, 60, 
        color-stop(0, rgba(255,255,255,.9)), 
        color-stop(20%, rgba(255,255,255,.2)), 
        color-stop(40%, rgba(255,255,255,0)),
        color-stop(100%, rgba(255,255,255,0)));
    background-image: -webkit-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -o-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -ms-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: radial-gradient(ellipse at center, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);	
}

.bar-ext-stuning > span {
    background-size: 13px, 29px, 37px, 53px;
    background-image: 
        -moz-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -moz-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -moz-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -moz-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -webkit-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -webkit-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -webkit-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -webkit-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,.07)), 
        color-stop(50%,rgba(255,255,255,.07)), 
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,.13)), 
        color-stop(50%,rgba(255,255,255,.13)), 
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.17)),
        color-stop(50%,rgba(255,255,255,0.17))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.19)),
        color-stop(50%,rgba(255,255,255,0.19)));
    background-image: 
        -o-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -o-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -o-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -o-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -ms-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -ms-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -ms-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -ms-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        linear-gradient(to right, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        linear-gradient(to right, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        linear-gradient(to right, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        linear-gradient(to right, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
}
.bar-ext-stuning > span > span {
    display:block;
    height:100%;
    width:100%;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-size: 12px;

    background-image: -moz-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0.1)), 
        color-stop(50%,rgba(255,255,255,0.1)), 
        color-stop(50%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -o-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -ms-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);	
    background-image: linear-gradient(to right, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
}

.bar-st > .active {
    animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -webkit-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    -o-animation: progress 2s linear infinite;
}

@-webkit-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-moz-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-ms-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-o-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}

.bar-st > span {
    background-color: #2E8DEF;        
}


.notify{
    position: fixed;
    z-index: 100;
    padding: 5px;
}
[data-notif=close]{
    cursor: pointer;
    float: right;
    margin-right: 20px;
}
.notify.top{
    width: 100%;
    left: 0px;
    top: 0px;
}

.notify.top-left{
    width: 320px;
    left: 20px;
    top: 20px;
}

.notify.top-right{
    width: 320px;
    right: 20px;
    top: 20px;
}

.notify.bottom{
    width: 100%;
    left: 0px;
    bottom: 0px;
}

/* sliders */
.ui-slider { 
    position: relative; text-align: left; 
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    font-size: 8px;
}
.ui-slider .ui-state-default{
    background-color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    color: #333;
    outline: none;
    font-size: 9px;
    line-height: 9px;
    border: 1px solid #cdcdcd;
    border-bottom-color: #ddd;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear background-image;
    -moz-transition: 0.1s linear background-image;
    -ms-transition: 0.1s linear background-image;
    -o-transition: 0.1s linear background-image;
    transition: 0.1s linear background-image;
    overflow: visible;

}
.ui-slider .ui-slider-handle { position: absolute; margin-top: -0.1em; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range {
    position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0;

    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.375em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
/* end sliders */

/* animate button */
.shortcut-group{
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}
ul.a-btn-group, 
ul.b-btn-group{
    list-style: none;
    text-align: center;
    
}

ul.a-btn-group li, 
ul.b-btn-group li{
    display: inline-block;
    margin: 0 auto;
    list-style: none;
}

.a-btn{
    width:80px;
    height:80px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    overflow: hidden; /* adding on v1.3 to support ie9, I don't know about ie8 (it makes spending a fair amount of time, and I still didn't produce anything)'. lol */
    
    display:inline-block;
    margin:20px;
    margin-right: 60px;
    position:relative;
    
    -webkit-box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #fafafa,  0px 0px 1px 8px rgba(204, 204, 204, 0.4), 0px 0px 0px 9px #dfdfdf;
    -moz-box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #fafafa,  0px 0px 1px 8px rgba(204, 204, 204, 0.4), 0px 0px 0px 9px #dfdfdf;
    box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #fafafa,  0px 0px 1px 8px rgba(204, 204, 204, 0.4), 0px 0px 0px 9px #dfdfdf;
    
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.a-btn > div[class*=grd-]{
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    display: inline-block;
}
.a-btn.square{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.a-btn span{
    display:table-cell;
    width:80px;
    height:80px;
    
    padding:0px;
    text-align:center;
    vertical-align:middle;
    font-size:32px;
    color:#f1f1f1;
    text-shadow:0px 1px 1px #CDCDCD;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
    position:absolute;
    top:0px;
    left:0px;
    font-size:32px;
    line-height:80px;
    opacity:0;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}
.a-btn span:nth-child(1){
    background: transparent; /*url('../img/arrow_down.png') no-repeat center center;*/
    opacity:0.2;
}
.a-btn .badge, .a-btn .label{
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
}
.a-btn:hover{
    overflow: hidden;
}
.a-btn:hover span:nth-child(3){
    opacity:1;
    color: #999999;
}
.a-btn:hover span:nth-child(2){
    opacity: 0;
}
.a-btn:hover span:nth-child(1){
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
.a-btn:active{
    background:rgba(238, 238, 238, 0.6);
    -webkit-box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #F1F1F1,  0px 0px 1px 8px rgba(241, 241, 241, 0.4), 0px 0px 0px 9px #F1F1F1;
    -moz-box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #F1F1F1,  0px 0px 1px 8px rgba(241, 241, 241, 0.4), 0px 0px 0px 9px #F1F1F1;
    box-shadow:0px 0px 5px 0px rgba(238, 238, 238, 0.5) inset, 0px -1px 5px 4px rgba(221, 221, 221, 0.2) inset, 0px 0px 0px 7px #F1F1F1,  0px 0px 1px 8px rgba(241, 241, 241, 0.4), 0px 0px 0px 9px #F1F1F1;
    
}
.a-btn:active span:nth-child(3){
    color: #999999;
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}
.a-btn.grd-black:active span:nth-child(3) .color-white{
    color: #222222;
}
.a-btn.grd-blue:active span:nth-child(3) .color-white{
    color: #2E8DEF;
}
.a-btn.grd-green:active span:nth-child(3) .color-white{
    color: #00A600;
}
.a-btn.grd-orange:active span:nth-child(3) .color-white{
    color: #DC572E;
}
.a-btn.grd-purple:active span:nth-child(3) .color-white{
    color: #A700AE;
}
.a-btn.grd-purple-dark:active span:nth-child(3) .color-white{
    color: #643EBF;
}
.a-btn.grd-red:active span:nth-child(3) .color-white{
    color: #BF1E4B;
}
.a-btn.grd-sky:active span:nth-child(3) .color-white{
    color: #0A5BC4;
}
.a-btn.grd-teal:active span:nth-child(3) .color-white{
    color: #00A0B1;
}
.a-btn.grd-win8:active span:nth-child(3) .color-white{
    color: #00CCFF;
}
@keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform: scale(1) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -moz-transform: scale(1) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}


.b-btn{
    padding-left:90px;
    padding-right:105px;
    height:90px;
    display:inline-block;
    position:relative;
    border:1px solid #5d81ab;
    
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    margin:10px;
    overflow:hidden;
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.3s ease-in-out;
}
.b-btn .img{
    position:absolute;
    left:15px;
    top:13px;
    border:none;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.b-btn .b-btn-slide-text{
    position:absolute;
    font-size:1.4em;
    font-weight: bold;
    top:18px;
    left:18px;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    opacity:0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.b-btn-text{
    padding-top:13px;
    display:block;
    font-size:1.2em;
    text-shadow:0px -1px 1px #5d81ab;
}
.b-btn-text small{
    display:block;
    font-size:11px;
    letter-spacing:1px;
}
.b-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:80px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.b-btn-icon-right span{
    width:38px;
    height:31px;
    opacity:0.7;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    border:1px solid rgba(0,0,0,0.5);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    text-align: center;
    padding-top: 7px;
}
.b-btn:hover{
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
.b-btn:hover .img{
    opacity:0;
}
.b-btn:hover .b-btn-slide-text{
    opacity:1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.b-btn:hover .b-btn-icon-right span{
    opacity:1;
    background-color:#F1F1F1;
    color: #444444;
}
.b-btn:hover .b-btn-icon-right span i{
    color: #444444;
}
.b-btn:active{
    position:relative;
    top:1px;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}
.b-btn:active .b-btn-icon-right span{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
/* endanimate button */

/* end interface */

/* chart */
.chart{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.chart-string{
    padding-top: -5px;
    text-align: center;
    border: transparent solid #CDCDCD;
}

/* end chart */


/* login */
.signin-form, signup-form{
    margin-top: 120px;
    font-size: .9em;
}

.signin-form .box-body{
    margin-right: 0px;
    padding-right: 20px;
}

.recover-account{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0px;
}

.term-of-use{
    border: 1px dashed #999;
    color: #999;
    font-size: .8em;
    padding: 5px;
}
.term-of-use > a{
    color: #2E8DEF;
}

.term-of-use > a:hover{
    color: #2E8DEF;
    text-decoration: underline;
}
/* end login */


/* error page */
.error-page{
    margin-top: 60px;
    padding-top: 40px;
    text-align: center;
}

.error-page .error-code{
    font-family: 'Aclonica', serif;
    font-size: 6em;
    line-height: 2em;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.error-page .error-description{
    font-family: 'Aclonica', serif;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: normal;
    text-shadow: 0px 1px 1px #4d4d4d;
}
.error-page .shortcut-group{
    margin-top: 40px;
}
/* end error page */

/* Invoice */
.invoice-container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.invoice-table{
    margin-top: 20px; 
}

.invoice thead{
    background: #EEEEEE;
    
}
.invoice thead tr th{
    text-align: center;
}

.invoice tfoot tr:first-child{
    background: #EEEEEE;
}
.invoice tfoot tr:first-child th{
    text-align: center;
}
.invoice tfoot tr:last-child{
    font-size: 1.2em;
    font-weight: bold;
}

.invoice tr .right{
    text-align: right;
}

/* end Invoice */

/* gallery */
.gallery, .gallery-controls{
    display: block;
}
.gallery-controls.top{
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CDCDCD;
}
.gallery-controls.bottom{
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #CDCDCD;
}
.gallery-category ul li{
    font-size: .8em;
}
.gallery-content{
    padding: 20px 20px 20px 10px;
}

.gallery-content ul li{
    position: relative;
}
.thumbnail-control{
    width: 100%; height: 130px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px; left: 0px;
    display: table;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    /*Hover effect - default state*/
    opacity: 0;
    transition: all 0.5s;
}
.thumbnail-control .controls{
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    /*Vertical center align*/
    display: table-cell;
    vertical-align: middle;
    /*Hover effect - default state*/
    transform: scale(0.2);
    transition: all 0.25s;
    cursor: pointer;
}
.thumbnail-control .controls > .description{
    font-size: .6em;
}
.gallery-content li{
    position: relative;
}
.gallery-content li:hover .thumbnail-control {
    opacity: 1;
}
.gallery-content li:hover .controls{
    transform: scale(1);
}
.gallery-content li .active{
    background: rgba(0, 0, 0, 0.5);
}
.gallery-content li .active img{
    -webkit-filter: grayscale(100%);
}
.gallery-content li .selecter{
    display: none;
}
/* end gallery */

/* message */
.message-a{
    width: 100%;
    height: 670px;
    overflow: hidden;
}

.message-a:after{
    clear: both;
}

.message-a > .message-contact{
    float: left;
    width: 30%;
    height: 96%;
    border: 1px solid #CDCDCD;
    overflow-y: auto;
}
.message-contact > .mc-header{
    border-bottom: 1px solid #CDCDCD;
    padding: 10px 5px 0px 5px;
    height: 42px;
    overflow: hidden;
}
.message-contact > .mc-header .input-icon-prepend{
    width: 100%;
}
.message-contact > .mc-header input:focus,
.message-contact > .mc-header input:active{
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    border-color:rgba(205, 205, 205, 0.8);
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    outline:0;
}

.message-contact > .mc-content > ul{
    margin: 0px; padding: 0px;
    margin-bottom: 10px;
    list-style: none;
}
.message-contact ul.contact-list li.contact-alt{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.message-contact ul.contact-list li.contact-alt:hover{
    background: #f1f1f1 url('../img/noise.png');
}

.message-contact ul.contact-list .contact-alt{
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #CDCDCD;
}

.message-contact ul.contact-list .contact-alt.unread{
    border-right: none;
    background: #DDDDDD;
    color: #626262;
    font-weight: bold;
}
.message-contact ul.contact-list .contact-alt.unread:hover{
    background: #DDDDDD;
}

.message-contact ul.contact-list .contact-alt.active{
    border-right: none;
    background: #00A0B1;
    color: #F1F1F1;
}
.message-contact ul.contact-list .contact-alt.active .muted{
    color: #EEEEEE;
}
.message-contact ul.contact-list .contact-alt.active:hover{
    background: #00A0B1;
}

.message-contact ul.contact-list .pull-left{
    margin-right: 10px;
}
.message-contact ul.contact-list .pull-right{
    margin-left: 10px;
}

.message-contact ul.contact-list .contact-item-body{
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
.message-contact ul.contact-list .contact-alt a{
    display: block;
    height: 52px;
    max-height: 52px;
    overflow: hidden;
    padding: 5px 5px 0px 5px;
}

.message-contact ul.contact-list .contact-alt .status{
    float: right;
    line-height: 48px;
    margin-right: 5px;
    font-size: .8em;
}

.message-contact ul.contact-list .contact-item-heading{
    margin: 0px;
    white-space: nowrap;
}
.message-contact ul.contact-list .help-block{
    margin: 0px;
    margin-top: -5px;
    white-space: nowrap;
}

.message-a > .message-body{
    position: relative;
    height: 96%;
    width: 69%;
    float: left;
    border: 1px solid #CDCDCD;
    border-left: none;
    overflow: hidden;
}
.message-body .mb-content{
    position: relative;
    height: 100%;
}

/* message content */
.message-content, .new-message{
    border-bottom: none;
    overflow: hidden;
    background: #FFFFFF url('../img/noise.png');
}
.message-content .msg-body{
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
}
.new-message .msg-body{
    height: 345px;
    overflow: hidden;
    overflow-y: auto;
}

.new-message .msg-new-head{
    border-bottom: 1px solid #CDCDCD;
    padding: 10px 20px 0px 20px;
    height: 42px;
    overflow: hidden;
}

.msg-body .msg-in,
.msg-body .msg-out{
    padding: 10px 20px;
    cursor: pointer;
}
.msg-body .msg-in:hover,
.msg-body .msg-out:hover{
    background: #f1f1f1 url('../img/noise.png');
}

.msg-body .msg-in.selected,
.msg-body .msg-out.selected{
    border-top: 1px solid #CDCDCD;
    border-bottom:  1px solid #A1A1A1;
    background: #DDD url('../img/noise.png');
}
.msg-body .msg-in.selected:hover,
.msg-body .msg-out.selected:hover{
    background: #DDD url('../img/noise.png');
}

.msg-body .msg-in .msg-time,
.msg-body .msg-out .msg-time{
    float: right;
    font-size: .8em;
}
.msg-body .msg-out .msg-user{
    color: #00A600;
}
.msg-body .msg-in .msg-text,
.msg-body .msg-out .msg-text{
    clear: both;
    text-align: left;
    word-wrap: break-word;
}
.msg-body .msg-in .msg-user{
    color: #00A0B1;
}

.msg-typed{
    padding: 5px 20px;
    text-align: left;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    color: #999;
}

.mb-content .msg-input{
    padding: 5px 20px;
    border-bottom: 1px solid #CDCDCD;
}
.mb-content .msg-input textarea{
    resize: none;
    font-size: 1em;
    color: #626262;
    height: 120px;
    max-height: 120px;
    max-width: 100%;
}
.mb-content .msg-input textarea:focus,
.mb-content .msg-input textarea:active{
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    border-color:rgba(205, 205, 205, 0.8);
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(205, 205, 205, 0.6) 0 0 8px;
    outline:0;
}
.mb-content .msg-input .msg-desc{
    padding:  0px 10px 0px 10px;
    text-align: center;
}
/* end message */


.pagination a, .pager a{
    color: #00A0B1
}

a[rel=to-top]{
    position: fixed;
    right: 10px;
    background: #E9E9E9 url('../img/bg-content-header.png');
    color: #626262;
    bottom: 0px;
    margin: 0px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #cdcdcd;
    z-index: 99;
    display: none;
    cursor:pointer;
    font-size: 2em;
    
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

a[rel=to-top]:hover{
    color: #F1F1F1;
    background: #008299 url('../img/noise.png');
    border: 1px solid #00a0b1;
}

/* footer */
footer{
    margin-top: 63px;
}