.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 



.onCorrect{ 
	display:inline-block; 
	height:22px; 
	background:url(../images/reg-menu.gif) no-repeat 0px -22px; 
	padding-left:15px; 
	margin-left:10px; 
	vertical-align:middle; 
	padding-right:5px;
	margin-top:5px;
}


.onError .onFocus p
{
	list-style-type:none;
	list-style-image:none;
	line-height : 2;
}
.onError .onFocus span
{
	color : #000;
	font-size : 12px;
}


.onFocus{ 
	width:287px; 
	height:20px; 
	padding-top:3px; 
	left:0px;top:0px;
	padding:0px;
	margin::0px;
}

.onError, .onError i
{
background:url(../images/hint.png);
}
.onError
{ 
    position:absolute;
    right:0;
    height:35px;
    line-height: 25px;
    background-position: right 0;
    color: #FFF;
    padding-right: 10px;
}

.onError i 
{
    background-position: left 0;
    position: absolute;
    top:0;
    left:-10px;
    height:35px;
    width: 10px;
}
.pop_icon{
    background: url(../images/icon.gif);
    padding:10px;
    position: absolute;
    bottom: -27px;
    right:9px;
}


.input_public
{
}

.input_error {
	background-color:#FBE2E2; color:#A63B3B; border: 1px solid #FCC1C1;
}

.input_focus {
    background-color:#FFC;border-color:#C6C69E; border: 1px solid #CCC;
}
.input_correct {}