.fullmode {
	margin:8px 0 38px;
	border:1px solid #DDD;
	background:#FFF;
	font-family:'Georgia','Times','New Roman','Times','serif';
	overflow:visible;
}
.full_top {
	border-top:5px solid #DDD;
	padding:10px 10px 0;
	overflow:hidden;
}
.full_bottom {
	padding:8px 5px 5px 10px;
	height:24px;
	border-top:1px solid #DDD;
}
.full_content {
	position:relative;
	padding:10px 10px 25px;
	background:#FFF;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:auto auto;
}
.fullbottom {
	color:#A0A0A0;
}
.close {
	width:15px;
	height:15px;
	background:url(../../static/image/common/../icon/diary.png) no-repeat -64px -192px;
	background-clip:border-box;
	background-origin:padding-box;
}
.btn_sepline {
	margin:2px 5px 0 4px;
	height:22px;
	border-right:1px solid #FFF;
	border-left:1px solid #9D9D9D;
	background:none;
	line-height:22px;
}
.remarkinfo {
	width:180px;
	background:#FEFBE4;
}
.dialogtb {
	margin:20px 10px;
}
.dialogtb th {
	text-align:right;
	vertical-align:middle;
	padding-right:20px;
}
.dialogtb tr {
	height:50px
}
.remark_icon_big img {
	margin:0 5px -10px;
}
.remark_icon_small {
	background:url(../../static/image/common/../icon/i_hr.png) no-repeat;
	background-position:-190px -28px;
	width:20px;
	height:20px;
	float:left;
}
.show_remark_content {
	}.remark_content_header img {
	float:left;
}
.remark_content_header span {
	position:relative;
	left:5px;
	top:-2px;
	color:#999;
}
.remark_content_body {
	margin-left:38px;
	max-width:250px;
}
.i_desk {
	background:url(../../static/image/common/../icon/i_desktop.png) no-repeat;
}
#my_underling {
	margin:20px 10px;
}
.o_openclass {
	background-position:-125px -122px;
	width:10px !important;
}
.o_outofplan {
	background-position:-120px -140px;
}
.o_diary_per {
	background-position:0 -96px;
}
.o_diary_appraise {
	background-position:-32px -96px;
}
.o_diary_ckunder {
	background-position:-64px -96px;
}
.diary-navbar li {
	padding:0 10px;
}
.diary-mark {
	padding:5px;
}
.diary-mark i {
	display:inline-block;
	width:10px;
	height:10px;
	border:1px solid #000;
	vertical-align:text-bottom;
}
#diary_note_img img {
	position:relative;
	top:10px;
	width:36px;
	height:36px;
}
.diary-poster {
	margin-top:0;
	padding-left:12px;
	overflow:hidden;
}
.diary-content-area {
	margin-top:0;
	margin-right:60px;
	padding:3px 0 5px 12px;
	max-width:800px;
}
.comment {
	padding:4px 10px 12px;
}
.diary-comment-input {
	margin:5px;
	width:96%;
	height:42px;
	line-height:1.7;
	overflow:visible;
}
.diary-comment-list {
	border-top:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
	background:#F0F0F0;
	line-height:1.5;
}
.full_content {
	padding:0;
}
.fullmode .sub-title {
	padding:0 5px;
}
.dyl-item {
	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
}
.dyl-date{
	float:left;
	margin-left:1px;
	width:52px;
	height:70px;
}
.dyl-date-d img {
	width:50px;
	height:50px;
}
.dyl-date-m {
	background-image:-webkit-linear-gradient(top,#0096D0,#0079C1);
	background-image:-moz-linear-gradient(top,#0096D0,#0079C1);
	background-image:-o-linear-gradient(top,#0096D0,#0079C1);
	background-image:linear-gradient(top,#0096D0,#0079C1);
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	background-color:#0096D0;
	height:20px;
	text-align:center;
	font:700 10px/20px 'Microsoft Yahei';
	color:#FFF;
}
.dyl-date-d {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-box-shadow:1px 2px 2px #EEE,-1px 0 2px #EEE;
	-moz-box-shadow:1px 2px 2px #EEE,-1px 0 2px #EEE;
	box-shadow:1px 2px 2px #EEE,-1px 0 2px #EEE;
	height:50px;
	border-width:0 1px 1px;
	border-style:solid;
	border-color:#DDD;
	text-align:center;
	color:#666;
}
.dyl-item-inner {
	margin-left:60px;
	line-height:20px;
}
.dyl-item-title a {
	font-size:15px;
	font-family:Tahoma 'Microsoft Yahei';
	letter-spacing:1px;
	color:#999;
}
.dyl-item-title em {
	color:#444;
}
.dyl-item-option {
	margin-left:20px;
	color:#999;
}
.dyl-item-option a {
	color:#999;
}
.dyl-item-option em {
	font:700 14px Arial;
	color:#007CC3;
}
.dys-summary {
	padding:0 10px;
	min-height:100px;
	_height:100px;
}
.o-up {
	background-position:-100px -122px;
}
.o-down {
	background-position:-80px -122px;
}
.rpt-navbar {
	padding:0 10px;
}
.detail-title {
	text-align:center;
	font-size:20px;
	font-weight:400;
	font-family:Arial 'Microsoft Yahei';
}
.detail-add-time {
	height:24px;
	text-align:right;
	font-weight:400;
	color:#999;
}
.studyplay_starBg,.studyplay_starovering,.studyplay_starON {
	top:0;
	left:0;
	height:22px;
}
.studyplay_starBg {
	padding:0;
	background:url(../../static/image/common/processbar.gif) 0 -22px;
	cursor:pointer;
}
.studyplay_starovering {
	position:absolute;
	background:url(../../static/image/common/processbar.gif);
}
.studyplay_starON {
	position:absolute;
}
.diary .subject {
	padding:10px;
	font-weight:700;
	font-size:14px;
	overflow:auto;
	color:#666;
}
.diary .diary_list li {
	height:auto;
	font-size:12px;
}
