.fullmode {
	margin:8px 0 38px;
	border:1px solid #DDD;
	background:#FFF;
	font-family:'Georgia','Times','New Roman','Times','serif';
	overflow:visible;
}
.full_top {
	border-top:5px solid #DDD;
	padding:10px 10px 0;
	overflow:hidden;
}
.full_bottom {
	padding:8px 5px 5px 10px;
	height:24px;
	border-top:1px solid #DDD;
}
.full_content {
	position:relative;
	padding:10px 10px 25px;
	background:#FFF;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:auto auto;
}
.fullbottom {
	color:#A0A0A0;
}
.close {
	width:15px;
	height:15px;
	background:url(../../static/image/common/../icon/diary.png) no-repeat -64px -192px;
	background-clip:border-box;
	background-origin:padding-box;
}
.btn_sepline {
	margin:2px 5px 0 4px;
	height:22px;
	border-right:1px solid #FFF;
	border-left:1px solid #9D9D9D;
	background:none;
	line-height:22px;
}
.remarkinfo {
	width:180px;
	background:#FEFBE4;
}
.dialogtb {
	margin:20px 10px;
}
.dialogtb th {
	text-align:right;
	vertical-align:middle;
	padding-right:20px;
}
.dialogtb tr {
	height:50px
}
.remark_icon_big img {
	margin:0 5px -10px;
}
.remark_icon_small {
	background:url(../../static/image/common/../icon/i_hr.png) no-repeat;
	background-position:-190px -28px;
	width:20px;
	height:20px;
	float:left;
}
.show_remark_content {
	}.remark_content_header img {
	float:left;
}
.remark_content_header span {
	position:relative;
	left:5px;
	top:-2px;
	color:#999;
}
.remark_content_body {
	margin-left:38px;
	max-width:250px;
}
.i_know {
	display:inline-block;
	margin:2px;
	width:16px;
	height:16px;
	vertical-align:middle;
	background:url(../../static/image/common/../icon/i_know.png) no-repeat;
}
.o_k_mywiki {
	background-position:-32px 0;
}
.o_k_wiki {
	}.o_k_myask {
	background-position:-32px -32px;
}
.o_k_ask {
	background-position:0 -32px;
}
.o_k_addbook {
	background-position:0 -64px;
}
.o_k_log {
	background-position:-32px -64px;
}
.o_k_share {
	background-position:-64px -64px;
}
.o_k_hot {
	background-position:0 -96px;
}
.o_k_recommand {
	background-position:-96px -96px;
}
.o_k_marrow {
	background-position:-64px -96px;
}
.o_k_normal {
	background-position:-128px -96px;
}
.my_info {
	margin-bottom:10px;
	padding:5px 10px 10px;
	border:1px solid #E1E1E1;
	background:url(../../static/image/common/blockbg.png) repeat-x;
}
.my_info_title {
	line-height:25px;
	vertical-align:middle;
	font-family:'Microsoft Yahei','Simsun',Arial;
	font-size:15px;
	font-weight:700;
}
.wiki_a {
	background-color:#E7EFFC;
}
.wk-content {
	line-height:24px;
	font-size:14px;
	letter-spacing:0.5px;
}
.wk-content h3 {
	margin:0 0 10px;
	padding-bottom:6px;
	border-bottom:1px solid #DEDFE1;
	line-height:24px;
	font-size:18px;
	font-weight:700;
	clear:left;
}
.wke-reason-list {
	}.wke-reason-list li {
	float:left;
	border-right:1px solid #FFF;
	background-color:#F5F5F5;
	color:#666;
}
.wke-reason-list .a {
	background-color:#E6F2F9;
	color:#007CC3;
}
.wke-reason-list label {
	display:block;
	padding:5px 15px;
}
.content_topp {
	padding:0 10px;
}
.content_topp .table {
	margin:10px auto;
	table-layout:auto;
	border:1px solid #E8E8E8;
	background:#FAFAFA;
	font-size:12px;
	color:#666;
}
.content_topp .table td {
	border:1px solid #E8E8E8;
	background:#FAFAFA;
	vertical-align:top;
}
.content_topp .img_l {
	float:left;
	margin:5px 20px 5px 0;
	clear:left;
}
.content_topp .img {
	padding:10px;
	border:1px solid #E8E8E8;
	background:#FAFAFA;
	text-align:center;
	font-size:12px;
	color:#666;
}
.content_topp .img_r {
	float:right;
	margin:5px 0 5px 20px;
}
.content_topp .img strong {
	display:block;
	padding-top:10px;
	line-height:18px;
	font-size:12px;
	font-weight:400;
	clear:both;
	overflow:hidden;
}
.w_add_reference_ul {
	padding-top:10px;
	border-top:1px solid #DDD;
	background:#F7F7F7;
	line-height:22px;
}
.w_add_reference_ul li {
	position:relative;
	margin-left:65px;
	padding:2px 0;
}
.mainer-left {
	margin:10px 250px 20px 5px;
}
.mainer-right {
	float:right;
	margin-bottom:10px;
	padding:10px;
	width:230px;
	overflow:hidden;
}
.w_doctitle {
	padding:8px;
	background:#FFF;
	font-size:20px;
	color:#0268CD;
	overflow:hidden;
}
.w_doctitle a {
	color:#0268CD;
}
.wk-toolbar {
	line-height:22px;
	color:#333;
	overflow:hidden;
}
.w_t_a_p1 {
	float:left;
	width:320px;
}
.w_t_a_p1 a {
	margin-left:6px;
}
.wk-entry-operate {
	float:right;
	margin:10px 0;
}
.wk-entry-operate a {
	padding-left:8px;
	padding-right:8px;
	border-right:1px solid #CCC;
}
.w_r_table_action {
	width:100%;
}
.w_r_table_action button {
	width:90px;
}
.w_r_table_action td {
	padding:10px 0 10px 20px;
}
.wk-act {
	float:right;
	font-size:12px;
	font-weight:400;
}
#hidesection li {
	position:relative;
	padding-left:16px;
	line-height:22px;
}
.w_headline_content {
	line-height:24px;
	font-size:18px;
	font-weight:700;
	letter-spacing:0.5px;
}
.w_text_edit {
	float:right;
	margin:5px 10px 0;
	display:block;
	font-size:12px;
	font-weight:400;
	color:#36C;
}
.edit_ct {
	display:inline-block;
	margin:0 8px;
	padding:0;
	width:64px;
	height:24px;
	border:0 none;
	background:url(../../static/image/common/edit_ct_bg.gif) no-repeat transparent;
	line-height:24px;
	text-align:left;
	color:#FFF;
}
.synonymdoc_tips {
	margin:20px 0 5px;
	padding:10px;
	border:1px solid  #F39700;
	background:#FFC;
	color:#F00 !important;
	overflow:hidden;
}
.w_reference {
	padding:8px 5px;
	background:#F7F7F7;
	line-height:18px;
	overflow:hidden;
}
.w_reference dt,.w_edit_reference dt {
	font-weight:700;
}
.w_reference dd,.w_edit_reference dd {
	padding:10px 0 0 1em;
}
.wk-notes {
	padding:10px;
	border-bottom:1px solid #E1E1E1;
	line-height:22px;
	overflow:hidden;
	clear:both;
}
.wk-isuseful {
	margin:20px 0;
}
.wk-isuseful-tip {
	color:#999;
	text-align:center;
}
.wk-isuseful-btn {
	padding:3px 12px;
	width:100px;
	height:46px;
	background:url(../../static/image/common/useful_for_me.gif) no-repeat transparent;
	line-height:20px;
	color:#666;
	cursor:pointer;
}
.wk-isuseful-btn:hover {
	background-position:0 -62px;
}
.wk-isuseful-num {
	padding-left:30px;
	font-weight:700;
	color:#528BCB;
}
.wk-isuseful-btn:hover .wk-isuseful-num {
	color:#FFF;
}
.w_add_synonym {
	padding-top:5px;
}
#reply_comment_box {
	padding:10px;
	border:1px solid #DDD;
	background-color:#FFF;
}
.w_r_wrap {
	position:relative;
	display:block;
	line-height:22px;
}
.w_editor_info_img {
	padding:5px 10px 10px;
}
.w_editor_info_img img {
	padding:2px;
	width:48px;
	height:48px;
	border:1px solid;
	border-color:#F2F2F2 #CDCDCD #CDCDCD #F2F2F2;
	background:#FFF;
}
.o_w_set {
	background-position:-40px -100px;
}
.o_w_unset {
	background-position:-40px -120px;
}
.o_w_marrow {
	background-position:-40px -40px;
}
.o_w_locked {
	background-position:-20px -40px;
}
.o_w_hot {
	background-position:0 -40px;
}
.o_w_normal {
	background-position:-80px -40px;
}
.o_w_recommand {
	background-position:-60px -40px;
}
.o_w_excellent {
	background-position:-80px -20px;
}
.innerlink {
	color:#36C;
}
.re_user {
	color:#369;
	padding-bottom:5px;
}
.w_version {
	margin:10px 0;
	border:1px solid #F60;
	background-color:#FFEEDA;
	line-height:25px;
	overflow:hidden;
}
.w_version ul {
	padding:10px;
	width:450px;
}
.frame_l,.frame_r {
	border:1px solid;
	float:left;
	height:570px;
	overflow:scroll;
	width:49.77%;
}
.w_area,.w_point {
	display:inline-block;
	width:45px;
	height:15px;
	margin:10px 15px 0 5px;
}
.w_area {
	background:#CCF533;
}
.w_point {
	margin-left:30px;
	background:#E99BFF;
}
.w_ver_ul_info {
	margin:8px 0;
	padding:10px;
	border-top:1px dashed #CCC;
	border-bottom:1px dashed #CCC;
	line-height:20px;
	color:#666;
	overflow:hidden;
}
.w_ver_ul_info label {
	margin:0 15px 5px;
	color:#333;
}
.w_ver_ul_info a {
	display:inline-block;
	margin:0 8px 4px;
	white-space:pre;
}
.wk-entry {
	margin:5px 10px 3px;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
	line-height:24px;
}
.wk-entry-title {
	font:700 16px/30px Arial;
	color:#528BCB;
}
.check1 {
	padding-left:16px;
	width:16px;
	height:16px;
	background:url(../../static/image/common/checkbox1.gif) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
.check0 {
	padding-left:16px;
	width:16px;
	height:16px;
	background:url(../../static/image/common/checkbox0.gif) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
.wiki_table {
	width:100%;
}
.wiki_table th {
	padding:0;
	border-bottom:1px dotted #CCC;
	background:#FFF;
	text-align:left;
	font-size:12px;
	font-weight:700;
	color:#666;
}
.wiki_table td {
	text-align:left;
}
.wikiicon {
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url(../../static/image/common/../icon/KM.png);
	vertical-align:middle;
}
.wiki_table_docname {
	font-size:14px;
}
.wiki_table_summary {
	font-size:13px;
	color:#999;
}
.wiki_table_addtime,.wiki_table_lsupdatetime,.wiki_table_edit {
	color:#999;
	font-family:Arial,Helvetica,'sans-serif';
	font-size:11px;
}
.wiki_table_view {
	color:#5A66BC;
}
.mydata {
	color:#D55111;
	font-family:Arial;
	font-size:16px;
	font-weight:700;
}
.bk-wrap table tr {
	border-bottom:1px solid #CCC;
}
.bk-wrap table td {
	padding-top:15px;
	vertical-align:top;
}
.bk-sidebar h4 {
	margin-bottom:10px;
	padding:2px 0 3px 10px;
	border-bottom:1px solid #E8E9E8;
	text-align:left;
	font-size:13px;
}
.bk-header {
	padding-bottom:10px;
}
.bk-header h4 {
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
	font-size:14px;
	font-weight:700;
}
.bk-content {
	color:#A0A0A0;
}
.bk-brief {
	min-height:40px;
	padding:15px 0 20px;
}
.bk-cover {
	border:1px solid #CCC;
	padding:5px;
	text-align:center;
}
.bk-cover img {
	height:152px;
	max-width:135px;
	background:#FFF;
	border:1px solid;
	border-color:#F2F2F2 #CDCDCD #CDCDCD #F2F2F2;
}
.ie6 .bk-cover img {
	width:expression(this.width > 135 ? 135:true);
}
.bk-lateset {
	float:left;
	margin:10px 15px;
}
.bks-header {
	margin-bottom:8px;
	padding:5px;
	border-bottom:1px dotted #CCC;
	font-size:16px;
}
.bks-cover {
	float:left;
	margin-right:15px;
	width:247px;
	border:1px solid #CCC;
}
.bks-cover-inner {
	margin:0 auto;
	padding:25px 0;
	width:200px;
	height:200px;
	text-align:center;
	overflow:hidden;
}
.bks-info table tr {
	border-bottom:1px dotted #CCC;
}
.bks-info table th {
	padding:5px;
	width:60px;
}
.bks-content {
	display:inline-block;
	margin-top:10px;
	width:100%;
	font-size:14px;
	line-height:25px;
}
.letterbox {
	color:#333;
}
.letterbox li {
	float:left;
	margin:2px;
	clear:none;
}
.letterbox a {
	display:block;
	white-space:nowrap;
	color:#528BCB;
	padding:0 4px;
}
.letterbox a:hover {
	background-color:#528BCB;
	color:#FFF;
}


.img_show {margin-bottom: 10px;position: relative;}
.img_show .img_zoom {text-align:center;width:310px;height:310px;}
.img_show .img_zoom img {margin: 0 auto; max-width:310px;max-height:310px;}
.img_show img {height:expression(this.height > 310 ? "310px" : true);}
.img_list { padding: 0 0 0px; position: relative;}
.img_list img { border-radius: 2px 2px 2px 2px; height: 50px; width: 50px;}

/*图片放大*/
.zoomdiv {z-index: 100;position: absolute;top:0px;left:0px;width: 200px;height: 200px;background: #ffffff;border:1px solid #CCCCCC;display:none;text-align: center;overflow: hidden;}
.jqZoomPup {z-index: 10;visibility: hidden; cursor: move;position: absolute;top:0px;left:0px;width: 50px;height: 50px;border: 1px solid #aaa;background: #ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

.img_list li { float:left;}
.img_list li.active, .img_list li:hover { background: none repeat scroll 0 0 #E0E1E3; border: 3px solid #FFA589; border-radius: 5px 5px 5px 5px;}
.img_list .jcarousel-item-horizontal { margin-right: 8px;}