
#listbody ul li {
	margin:0;
	padding:0;
	float:left;
	width:238px;
	display:block;
	margin-top:3px;
}
#listbody .ItemBox {
	float:left;
	width:230px;
	height:500px;
	_height:591px;
	margin-left:5px;
	margin-right:5px;
	font-family:"Microsoft Yahei","Arial",sans-serif;
	padding-bottom:5px;
	border-bottom:1px dashed #CCC;
	position:relative;
}
#listbody .ItemBox:hover {
	background-color:#F3F3F3;
}
#listbody .select {
	background-color:#FFFBE2;
}
#listbody .ItemBox div {
	margin-left:auto;
	margin-right:auto;
	width:230px;
}
#listbody .ItemBox .check {
	float:left;
	width:20px;
	padding-top:5px;
}
#listbody .ItemBox .phead {
	width:210px;
	height:20px;
	text-align:center;
	padding-top:5px;
	position:relative;
}
#listbody .ItemBox .phead label {
	width:210px;
	display:block;
	text-align:center;
}
#listbody .ItemBox .phead .override {
	width:20px;
	height:18px;
	position:absolute;
	top:0;
	right:0;
	right:0\9;
	*right:0;
	_right:0;
	padding-top:8px;
	background-image:url(/static/image/taobao/item-arrows.gif);
	background-position:center center;
	background-repeat:no-repeat;
	font-size:0;
	line-height:0;
	text-indent:-99999px;
}
#listbody .ItemBox .phead .override:hover {
	background-image:url(/static/image/taobao/item-arrows-hover.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
#listbody .ItemBox .photo {
	width:220px;
	height:220px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	border:#ddd 1px solid;
	position:relative;
}
#listbody .ItemBox .photo img {
	margin-top:5px;
	border:none;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
}
#listbody .ItemBox .photo img:hover,#listbody .ItemBox .photo img.select {
	filter:alpha(opacity=70);
	opacity:70;
}
#listbody .ItemBox .photo em {
	position:absolute;
	font-family:"Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;
	font-style:normal;
	color:#f50;
	right:0;
	height:18px;
	bottom:10px;
	display:block;
}
#listbody .ItemBox .photo em.tb {
	color:#f50;
	right:0;
}
#listbody .ItemBox .photo em.sc {
	font-size:14px;
	color:#060;
	left:5px;
	height:18px;
	line-height:16px;
}
#listbody .ItemBox .photo em.select {
	background-image:url(images/Wait.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}
#listbody .ItemBox .photo em input {
	border:none;
	ime-mode:disabled;
	background:none;
	display:inline;
	padding:0;
	margin:0;
	width:50px;
	height:20px;
	font-family:"Georgia","Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:18px;
	line-height:18px;
	color:#f50;
}
#listbody .ItemBox div.photo em input.select,#listbody .ItemBox div.photo em input:hover {
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}
#listbody .ItemBox .photo em.sc input {
	border:none;
	background:none;
	ime-mode:disabled;
	display:inline;
	padding:0;
	margin:0;
	width:60px;
	height:18px;
	font-family:"Georgia","Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:16px;
	color:#060;
}
#listbody .ItemBox div.photo em.sc input.select,#listbody .ItemBox div.photo em.sc input:hover {
	background-color:#cfc;
	border:solid 1px #3c3;
}
#listbody .ItemBox div.photo em.hidden {
	visibility:hidden;
}
#listbody .ItemBox .photo .CopytUrl {
	display:none;
	position:absolute;
	width:230px;
	height:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	top:0;
	background-color:#3C3C3C;
	color:#FFF;
	filter:Alpha(Opacity=50);
	opacity:.50;
	cursor:pointer;
}
#listbody .ItemBox .title {
	padding-top:2px;
	margin-bottom:3px;
	text-align:center;
	height:39px;
}
#listbody .ItemBox .title.select {
	background-image:url(images/Select.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
}
#listbody .ItemBox .title textarea {
	width:230px;
	height:38px;
	margin-left:auto;
	margin-right:auto;
	border:none;
	background:none;
	display:inline;
	height:auto;
	overflow:hidden;
	padding:0;
	margin:0;
	color:#323232;
}
#listbody .ItemBox .title textarea.select,#listbody .ItemBox .title textarea:hover {
	height:36px;
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}
#listbody .ItemBox .info {
	height:20px;
}
#listbody .ItemBox .info em {
	float:right;
	text-align:left;
	font-family:"Microsoft Yahei","Arial",sans-serif font-size:14px;
	height:20px;
	line-height:16px;
	font-style:normal;
	padding-top:0;
	display:block;
	position:relative;
}
#listbody .ItemBox .info em input {
	border:none;
	background:none;
	ime-mode:disabled;
	display:inline;
	padding:0;
	margin:0;
	width:48px;
	height:16px;
	font-family:"Microsoft Yahei","Arial",sans-serif;
	font-size:14px;
	line-height:16px;
}
#listbody .ItemBox div.info em input.select,#listbody .ItemBox div.info em input:hover,#listbody .ItemBox div.info span.outer_id input.select,#listbody .ItemBox div.info span.outer_id input:hover {
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}
#listbody .ItemBox div.info em input.disabled:hover {
	cursor:not-allowed;
	border:none;
	background:none;
}
#listbody .ItemBox div.info em input.sc {
	display:none;
	color:#060;
}
#listbody .ItemBox div.info em input.sc.select,#listbody .ItemBox div.info em input.sc:hover {
	background-color:#cfc;
	border:solid 1px #3c3;
}
#listbody .ItemBox div.info span.outer_id {
	float:left;
	padding-top:2px;
	display:block;
	width:142px;
	line-height:12px;
}
#listbody .ItemBox div.info span.outer_id input {
	border:none;
	background:none;
	display:inline;
	padding:0;
	margin:0;
	width:85px;
	line-height:16px;
}
#listbody .ItemBox div.cid {
	padding-top:2px;
	line-height:16px;
	height:16px;
	display:inline-block;
	overflow:hidden;
}
#listbody .ItemBox div.scid {
	height:48px;
}
#listbody .ItemBox div.scid div {
	float:left;
	height:45px;
	border-bottom:#ccc 1px dashed;
}
#listbody .ItemBox div.scid div.sicd-left {
	width:16px;
	padding-left:5px;
	padding-top:3px;
	height:42px;
	border-right:#ccc 1px dashed;
}
#listbody .ItemBox div.scid div.scid-center {
	width:162px;
	padding-left:3px;
	overflow-x:hidden;
	overflow-y:auto;
	font-size:11px;
}
#listbody .ItemBox div.scid div.scid-center ul {
	padding:0;
	margin:0;
	width:150px;
}
#listbody .ItemBox div.scid div.scid-center ul li {
	display:inline-block;
	width:150px;
	margin-top:2px;
	min-height:16px;
	height:auto;
}
#listbody .ItemBox div.scid div.scid-right {
	width:40px;
}
#listbody .ItemBox div.scid div.scid-center ul li a.delete {
	background:url(images/dialog-operate.png) no-repeat -23px 0;
	display:inline-block;
	font-size:0;
	height:17px;
	line-height:0;
	overflow:hidden;
	text-indent:-9999px;
	vertical-align:middle;
	width:23px;
	zoom:1;
	text-decoration:none;
}
#listbody .ItemBox div.scid div.scid-center ul li a.delete:hover {
	background-position:0 0;
}
#listbody .ItemBox div.scid div.scid-right a {
	padding:0;
	margin:0;
	padding-left:14px;
	padding-top:2px;
	border:0;
	line-height:19px;
	width:26px;
	display:block;
	background:url(images/item-pic-newcat.png) no-repeat;
	height:18px;
	text-decoration:none;
}
#listbody .ItemBox div.scid div.scid-right a:hover {
	background-position:0 -20px;
}
#listbody .ItemBox div.skus {
	border-top:1px dashed #CCC;
	border-bottom:1px dashed #CCC;
	height:85px;
}
#listbody .ItemBox div.skus ul {
	width:230px;
	height:85px;
	padding:0;
	margin:0;
	list-style-type:none;
	overflow-x:hidden;
	overflow-y:auto;
}
#listbody .ItemBox div.skus ul li {
	width:230px;
	padding:0;
	margin:0;
}
#listbody .ItemBox div.skus ul li:hover {
	background-color:#ffd02c;
}
#listbody .ItemBox div.skus ul li.SkuTemplate {
	display:none;
}
#listbody .ItemBox div.skus ul li span {
	width:140px;
	height:18px;
	overflow:hidden;
	display:inline-block;
}
#listbody .ItemBox div.skus ul li label {
	border:1px solid #E4E4E4;
	display:inline-block;
	padding:0;
	height:12px;
	width:12px;
	line-height:12px;
	overflow:hidden;
	margin-top:0;
	margin-left:0;
}
#listbody .ItemBox div.skus ul li input {
	border:none;
	background:none;
	display:inline;
	padding:0;
	margin:0;
	width:55px;
	ime-mode:disabled;
	line-height:12px;
}
#listbody .ItemBox div.skus ul li input.sc {
	display:none;
	color:#060;
}
#listbody .ItemBox div.skus ul li input.select,#listbody .ItemBox div.skus ul li input:hover {
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}
#listbody .ItemBox div.skus ul li input.sc.select,#listbody .ItemBox div.skus ul li input.sc:hover {
	background-color:#cfc;
	border:solid 1px #3c3;
}
#listbody .ItemBox div.skus ul li input.disabled:hover {
	cursor:not-allowed;
	border:none;
	background:none;
}
#listbody .ItemBox div.salepropm {
	border-bottom:1px dashed #CCC;
	padding-bottom:2px;
	margin-bottom:3px;
	height:20px;
}
#listbody .ItemBox div.salepropm div.edit {
	width:115px;
	float:left;
}
#listbody .ItemBox div.salepropm div.edit span {
	display:none;
}
#listbody .ItemBox div.salepropm div.stocklabel {
	width:110px;
	float:right;
	background:url(images/StockLabel.png) no-repeat;
	background-position:0 0;
}
#listbody .ItemBox div.salepropm div.stocklabel.tb {
	background-position:0 0;
}
#listbody .ItemBox div.salepropm div.stocklabel.sc {
	background-position:0 -20px;
}
#listbody .ItemBox div.salepropm div.stocklabel span {
	height:20px;
	line-height:18px;
	width:52px;
	display:inline-block;
	color:#FFF;
	text-align:center;
	cursor:pointer;
}
#listbody .ItemBox div.submit {
	position:absolute;
	bottom:0;
	right:0;
	height:40px;
	width:40px;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	background-image:url(images/submit.png);
	background-position:center center;
	background-repeat:no-repeat;
	display:none;
}
#listbody .ItemBox div.submit a {
	display:block;
	padding:5px;
	_padding:3px;
	text-align:center;
	height:30px;
	_height:28px;
	width:30px;
	font-size:16px;
	color:#FFF;
	font-family:"Microsoft Yahei","Arial",sans-serif;
}
#listbody .ItemBox div.list_time,#listbody .ItemBox div.delist_time {
	padding-top:5px;
	height:16px;
	line-height:16px;
}
#listbody .ItemBox div.ToolTip {
	position:absolute;
	top:0;
	left:0;
	width:238px;
	height:594px;
	display:none;
}
#listbody .ItemBox div.ToolTip div.Box {
	width:238px;
	height:564px;
	background-color:#CCC;
	filter:alpha(opacity=50);
	opacity:.5;
	background-image:url(images/circle-thickbox-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
#listbody .ItemBox div.ToolTip div.Error {
	background-image:none;
}
#listbody .ItemBox div.ToolTip div.Info {
	margin:0;
	padding:0;
	width:238px;
	position:absolute;
	background-color:#666;
	color:#FFF;
	bottom:0;
	right:0;
	height:25px;
	padding-top:5px;
	text-align:center;
}
#listbody .ItemBox .alertTB {
	background-image:url(images/alert-security-icos.png);
	background-repeat:no-repeat;
	background-position:100px 0;
}
#listbody .ItemBox .alertSC {
	background-image:url(images/alert-security-icos.png);
	background-repeat:no-repeat;
	background-position:100px -150px;
}
#listbody .ItemBox .alertTC {
	background-image:url(images/alert-security-icos.png);
	background-repeat:no-repeat;
	background-position:100px -300px;
}
#listbody .ItemBox .alertO {
	background-image:url(images/alert-security-icos.png);
	background-repeat:no-repeat;
	background-position:100px -450px;
}
#listbody .SaleData {
	padding-top:4px;
	padding-bottom:0;
	width:350px;
	height:26px;
	text-align:center;
}
#listbody .SaleData a {
	display:block;
	float:left;
	width:45px;
	background-image:url(images/item-sale-icos.png);
	text-align:center;
	font-size:0;
	line-height:0;
	height:24px;
	text-indent:-9999px;
	*text-indent:0;
	_text-indent:0;
	margin-left:3px;
	margin-right:3px;
}
#listbody .SaleData a:hover {
	text-decoration:none;
	background-position:0 -24px;
}
#listbody .SaleData a.TC-3 {
	background-position:0 0;
}
#listbody .SaleData a.TC-3:hover {
	background-position:0 -24px;
}
#listbody .SaleData a.TBP-3 {
	background-position:-45px 0;
}
#listbody .SaleData a.TBP-3:hover {
	background-position:-45px -24px;
}
#listbody .SaleData a.TC_3 {
	background-position:-90px 0;
}
#listbody .SaleData a.TC_3:hover {
	background-position:-90px -24px;
}
#listbody .SaleData a.rt {
	background-position:-135px 0;
}
#listbody .SaleData a.rt:hover {
	background-position:-135px -24px;
}
#listbody .SaleData a.ItemLog {
	background-position:-180px 0;
}
#listbody .SaleData a.ItemLog:hover {
	background-position:-180px -24px;
}
#listbody .ItemBox .memo {
	height:25px;
}
#listbody .ItemBox .memo span {
	display:inline;
	width:25px;
	height:25px;
	text-align:center;
	float:left;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	background:url(/static/image/taobao/flag_0.gif) no-repeat 0 0;
}
#listbody .ItemBox .memo span.text {
	background-position:0 -25px;
}
#listbody .ItemBox .memo input {
	float:left;
	border:none;
	background:none;
	height:18px;
	font-size:12px;
	line-height:18px;
	width:190px;
	font-family:"Microsoft Yahei","Arial",sans-serif;
}
#listbody .ItemBox .memo input.blank {
	border-bottom:#ccc 1px dotted;
}
#listbody .ItemBox .memo input.select,#listbody .ItemBox .memo input:hover {
	background-color:#cfc;
	border:solid 1px #3c3;
}
