.product {
	position:relative;
	float:left;
	padding:0;
	margin:0;
	line-height:1.5;
	overflow:hidden;
	z-index:1;
	width:230px;
	height:420px;
	margin-left:5px;
	margin-right:5px;
	_display:inline;
}
.product:hover,.product-hover {
	overflow:visible;
	z-index:2;
}
.product:hover {
	z-index:3;
}
.product-iWrap {
	position:absolute;
	background-color:#fff;
	border-color:#fff;
	margin:0;
	padding:5px;
	font-size:0;
}
.product-iWrap * {
	font-size:12px;
}
.product:hover .product-iWrap,.product-hover .product-iWrap {
	height:auto;
	border:3px solid #eae5e1;
	-webkit-transition:border-color .2s ease-in;
	-moz-transition:border-color .2s ease-in;
	-ms-transition:border-color .2s ease-in;
	-o-transition:border-color .2s ease-in;
	transition:border-color .2s ease-in;
}
.productImg-wrap,.productImg {
	height:220px;
	width:220px;
}
.productImg {
	display:table-cell;
	*display:block;
	_font-size:0;
	text-align:center;
	vertical-align:middle;
}
.productImg img {
	display:block;
	margin:0 auto;
}
.productImg-wrap div.productNew {
	display:none;
}
.view .productImg-wrap {
	height:230px!important;
}
.productNew {
	display:block;
	height:20px;
	line-height:20px;
	background:#8fbf48;
	padding:0 10px;
	text-align:right;
	position:relative;
	overflow:hidden;
	color:#fff;
	text-decoration:none;
	*cursor:pointer;
}
.productNew s {
	display:none;
	width:100%;
	_padding:0 10px;
	height:100%;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	text-decoration:underline;
	background:#659919;
}
.productNew i {
	position:absolute;
	left:10px;
}
.productNew:hover {
	text-decoration:none;
}
.productImg-wrap-hover .productNew s,.productImg-wrap:hover .productNew s {
	display:block;
	line-height:20px;
}
.productPrice,.productTitle,.productStatus,.productShop,.productIcons,.productAttrs {
	display:block;
	overflow:hidden;
	margin-bottom:3px;
}
.productTitle {
	display:block;
	font-size:0;
	width:220px;
	max-height:36px;
	_height:expression(function(el) {
	if(/msie 6/i.test(navigator.userAgent))el.style.height =(el.scrollHeight>36) ? '36px':'auto';
}
(this));
	word-break:break-all;}.productTitle * {
	font-size:10px;
}
.productTitle,.productTitle a {
	color:#666;
}
.product:hover .productTitle,.product-hover .productTitle {
	max-height:none;
}
.productTitle a:visited {
	color:#551A8B!important;
}
.productTitle a:hover,.productShop-name:hover {
	color:#C10001!important;
}
.productTitle a .H,.productTitle a em {
	color:#C60;
}
.productTitle b {
	color:#ef0049;
}
.productPrice {
	font-family:'arial','verdana',sans-serif!important;
	color:#C00;
	font-size:14px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.productPrice del {
	font-weight:bold;
	float:left;
	color:#c00;
	font-weight:bolder;
}
.productPrice span {
	font-weight:normal;
	float:right;
	color:#cbcbcb;
}
.productPrice span em {
	color:#c49173;
	font-weight:bolder;
}
.productPrice-ave {
	float:right;
	white-space:nowrap;
	background:#efeceb;
	color:#806f66;
	border:1px solid #eae5e2;
	padding:0 5px;
}
.productDsr {
	color:#666;
	margin-bottom:3px;
	display:none;
}
.productDsr em {
	color:#fff;
	background:#a10002;
	padding:0 6px 1px 6px;
	*padding:1px 6px 0 6px;
	overflow:hidden;
	margin-left:5px;
	border-radius:3px;
}
.productStatus {
	color:#a7a7a7;
}
.productStatus em {
	color:#c49173;
	font-weight:bolder;
}
.productStatus a {
	color:#568396;
}
.productShop {
	height:20px;
}
.productShop span {
	margin-left:10px;
}
.productShop-name {
	float:left;
	display:block;
	line-height:20px;
	height:20px;
	width:135px;
	color:#666;
	text-decoration:underline;
	overflow:hidden;
	word-break:break-all;
}
.productIcons {
	height:22px;
}
.product:hover .productIcons,.product-hover .productIcons {
	height:auto;
}
.productIcons a:hover {
	text-decoration:none;
}
.productIcons img {
	margin:2px 2px 0 1px;
	vertical-align:middle;
}
.productPostDay {
	float:left;
	display:inline-block;
	height:18px;
	background:#f2f2f2;
	color:#999;
	padding:2px 4px;
	_margin-right:3px;
	vertical-align:middle;
}
.productPostDay em {
	color:#bf8c62;
}
.productPostDay b {
	display:none;
	word-break:break-word;
	word-wrap:break-word;
	color:#827161;
	margin-left:10px;
}
.product:hover .productPostDay b,.product-hover .productPostDay b {
	display:inline;
}
.proIcon-fen {
	display:inline-block;
	position:relative;
	padding:0 2px 0 38px;
	height:12px;
	line-height:12px;
	overflow:hidden;
	font:11px/1.1 bold;
	color:#f09401;
	vertical-align:middle;
	border:1px solid #e7a008;
}
.proIcon-fen img {
	position:absolute;
	left:0;
	top:0;
	margin:0;
}
.productExtra b {
	color:#666;
	display:block;
}
.productExtra a {
	color:#568396;
}
.productAttrs {
	text-align:center;
	vertical-align:middle;
	color:#A7A7A7;
}
.productAttrs p {
	margin-bottom:5px;
}
.productAttrs span {
	white-space:nowrap;
	float:left;
	vertical-align:bottom;
	*vertical-align:baseline;
}
:root .productAttrs span {
	vertical-align:middle\0/;
}
.product .productAttrs a {
	color:#568396;
	margin:0 3px;
}
.productDsr,.productExtra,.productAttrs {
	display:none;
}
.product:hover .productExtra,.product-hover .productExtra,.product:hover .productDsr,.product-hover .productDsr,.product:hover .productAttrs,.product-hover .productAttrs {
	display:block;
}
.view {
	padding-bottom:10px;
}
.view .product:hover .product-iWrap,.view .product-hover .product-iWrap {
	padding:5px;
	top:-3px;
	left:-3px;
	*width:175px;
}

.productImg-wrap em {
	position:absolute;
	font-family:"Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;
	font-style:normal;
	color:#f50;
	right:0;
	height:18px;
	bottom:10px;
	display:block;
}
.productImg-wrap em.tb {
	color:#f50;
	right:0;
}
.productImg-wrap em.sc {
	font-size:14px;
	color:#060;
	left:0;
	height:18px;
	line-height:16px;
}
.productImg-wrap em.select {
	background-image:url(images/Wait.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}
.productImg-wrap em input {
	border:none;
	ime-mode:disabled;
	background:none;
	display:inline;
	padding:0;
	margin:0;
	width:70px;
	height:20px;
	font-family:"Georgia","Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:18px;
	line-height:18px;
	color:#f50;
}
div.productImg-wrap em input.select,div.productImg-wrap em input:hover {
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}
.productImg-wrap em.sc input {
	border:none;
	background:none;
	ime-mode:disabled;
	display:inline;
	padding:0;
	margin:0;
	width:60px;
	height:18px;
	font-family:"Georgia","Arial Unicode MS",Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:16px;
	color:#060;
}
div.productImg-wrap em.sc input.select,div.productImg-wrap em.sc input:hover {
	background-color:#cfc;
	border:solid 1px #3c3;
}
div.productImg-wrap em.hidden {
	visibility:hidden;
}



div.scid div {
	float:left;
	height:45px;
	border-bottom:#ccc 1px dashed;
}
div.scid div.sicd-left {
	width:16px;
	padding-left:5px;
	padding-top:3px;
	height:42px;
	border-right:#ccc 1px dashed;
}
div.scid div.scid-center {
	width:162px;
	height:45px;
	padding-left:3px;
	overflow-x:hidden;
	overflow-y:auto;
	font-size:11px;
}
div.scid div.scid-center ul {
	padding:0;
	margin:0;
	width:150px;
}
div.scid div.scid-center ul li {
	display:inline-block;
	width:150px;
	margin-top:2px;
	min-height:16px;
	height:auto;
}
div.scid div.scid-right {
	width:30px;
}

div.memo {
	padding-bottom:5px;
}
.memo input {
	ime-mode:disabled;
	border:none;
	background:none;
	display:inline;
	height:10px;
}



.memo input.blank {
	
	
	border-bottom:#ccc 1px dotted;
}
.memo input:hover {
	background-color:#EAEAEA;
	border:solid 1px #C3C3C3;
}