.i_hr {
	display:inline-block;
	margin:0 3px;
	width:16px;
	height:16px;
	vertical-align:text-bottom;
	background:url(../../static/image/common/../icon/i_hr.png) no-repeat;
}
.o-jobquicksearch {
	background-position:-100px -14px;
}
.avatar-box {
	width:92px;
}
.avatar-img {
	width:90px;
	height:100px;
	border:1px solid #DFDFDF;
}
.avatar-btn {
	margin-top:-2px;
	width:100%;
}
.extend-option {
	font:14px/30px 'Microsoft Yahei';
	cursor:default;
}
.extend-option a {
	padding:0 6px;
	color:#666;
}
.extend-option .on,.extend-option a:hover {
	color:#528BCB;
}
.personal-info {
	margin-left:120px;
	color:#999;
	line-height:35px;
}
.personal-info em {
	font-family:Arial 'Microsoft Yahei';
	font-style:normal;
	color:#528BCB;
}
.info-name {
	font-size:22px;
}
.info-contect span {
	display:inline-block;
	min-width:150px;
	_width:150px;
}
.info-contect i {
	font-size:16px;
	margin:0 3px;
}
.o-archivehas {
	background-position:-20px -300px;
}
.o-archivenull {
	background-position:0 -300px;
}
.o_h_files {
	background-position:0 -64px;
}
.o_h_onjob {
	background-position:-32px -64px;
}
.o_h_leavejob {
	background-position:-64px -64px;
}
.o_h_train {
	background-position:-96px -64px;
}
.o_h_rewards {
	background-position:-128px -64px;
}
.o_h_communicate {
	background-position:-160px -64px;
}
.o_h_salary {
	background-position:-192px -64px;
}
.o_h_contract {
	background-position:-224px -64px;
}
.o_h_cert {
	background-position:-256px -64px;
}
.o_h_contacts {
	background-position:-288px -64px;
}
#dept_tree {
	margin:5px 0;
	padding-left:12px;
}
.sdb_tree {
	margin:5px 0;
	padding-bottom:5px;
	line-height:20px;
}
.sdb_tree a {
	color:#000;
}
.sdb_tree li {
	display:block;
	margin:0;
	background:url(../../static/image/common/tree1.gif) no-repeat;
	clear:both;
	cursor:pointer;
}
.sdb_tree li.listchild {
	background-image:url(../../static/image/common/tree2.gif);
}
.sdb_tree li.closedtree {
	background-image:url(../../static/image/common/tree0.gif);
}
.sdb_tree li.lasttree {
	background-image:url(../../static/image/common/tree4.gif);
}
.sdb_tree li.lastclosedtree {
	background-image:url(../../static/image/common/tree5.gif);
}
.sdb_tree li ul {
	padding-left:1em;
}
.sdb_tree li a {
	padding-left:16px;
	color:#000;
}
.sdb_tree .ctrl {
	float:left;
	width:16px;
	height:22px;
}
.hr_inputtxt {
	font-size:15px;
	width:80%;
}
.hrtabs {
	border-bottom:1px solid #CCC;
	line-height:30px;
	max-height:31px;
	margin-top:3px;
}
.hrtabs a {
	background:#E5EDF2;
	border:1px solid #CCC;
	display:block;
	padding:0 10px;
}
.hrtabs li {
	float:left;
	margin:0 3px -1px 0;
	list-style:none;
}
.hrtabs li.hrtabs-selected a {
	background:#FFF;
	border-bottom-color:#FFF;
	font-weight:700;
}
.wfl_option {
	position:absolute;
	right:0;
	display:none;
	margin-top:-20px;
	*margin-top:20px;
	height:20px;
	line-height:20px;
	word-wrap:break-word;
	color:#AAA;
	overflow:hidden;
}
.wfl_option a {
	margin-right:1px;
	padding:1px 10px;
	border:1px solid #CECECE;
	background:url(../../static/image/common/pn.png) repeat-x  #FAFAFA;
	color:#777;
}
.wfl_option a:hover {
	border:1px solid #235994;
	background:#06C 0 -48px;
	color:#FFF;
}