.order .sep-row td {
	padding:5px 0!important;
	border-bottom:1px solid #B4D5FF;
}
tr.order-hd td {
	border:1px solid #B4D5FF;
	border-bottom-color:#eee;
	padding:8px 0;
}
.order-ft td {
	border:1px solid #B4D5FF;
	border-top:none;
}
.order .order-item td {
	border-bottom:1px solid #eee;
}
.order .order-item .order-price {
	border-left:1px solid #eee;
	border-right:1px solid #B4D5FF;
}
.order .item {
	border-left:1px solid #B4D5FF;
}
.order-hd {
	color:#404040;
	background:#e8f2ff;
}
.order-hd .selector {
	float:left;
}
.order-hd .basic-info {
	text-align:left;
	float:left;
}
.order-hd .basic-info .order-num {
	display:inline-block;
	width:200px;
}
.order-hd .basic-info .order-shop {
	margin-left:2em;
}
.order-hd .basic-info .order-shop a {
	max-width:250px;
	_width:250px;
	overflow:hidden;
	white-space:nowrap;
	vertical-align:middle;
	display:inline-block;
	_display:inline;
	zoom:1;
	*vertical-align:baseline;
}
.mall-order-icon {
	position:relative;
	top:3px;
	left:5px;
}
.alliance-order-icon {
	vertical-align:middle;
}
.alliance-itemlist-icon {
	vertical-align:middle;
	margin-left:25px;
}
.alliance-itemlist-icon-1 {
	margin-left:0;
}
.order-hd .more-info {
	padding:0 8px 0 15px;
	float:right;
}
.order-hd .status-info {
	float:left;
	margin-left:160px;
}
.order-hd .contact {
	float:left;
	text-align:left;
	height:16px;
	margin-top:-5px;
}
.expand .expander {
	display:none;
}
.order .expander td {
	border-top:#eee;
	background:#F6F6F6;
}
.order .expander a {
	background:transparent url(http://img08.taobaocdn.com/tps/i8/T1oiJuXfJlXXXXXXXX-7-4.png) no-repeat left 5px;
	padding-left:10px;
}
.order .extra {
	display:none;
}
.expand .extra {
	display:table-row;
	*display:block;
}
.display-detail .order-hd,.hidden-detail .order-hd {
	cursor:pointer;
	background:#e8f2ff url(http://a.tbcdn.cn/app/trade/img/collapsible_bg.png) no-repeat 400px -190px;
}
.display-detail .order-hd:hover,.hidden-detail .order-hd:hover {
	background-color:#e0ecff;
}
.hidden-detail .order-hd {
	background-position:400px -290px;
}
.hidden-detail .order-hd:hover {
	background-position:400px -90px;
}
.display-detail .order-hd:hover {
	background-position:400px 10px;
}
.hidden-detail .pic-info,.hidden-detail .txt-info .props,.hidden-detail .txt-info .misc,.hidden-detail .order-price .post-info {
	display:none;
}
.hidden-detail .order-item td {
	padding:5px 10px;
}
.hidden-detail .order-item .item .txt-info {
	margin-left:0;
}
.order-ft .contact {
	float:left;
	text-align:left;
	padding:5px 0;
	height:16px;
	margin-top:-3px;
}
.order-ft .contact .nickname,.order-ft .contact .shopname,.order-ft .contact .name {
	margin-right:10px;
}
.order-ft .contact .name {
	color:#404040;
}
.order-hd .contact span {
	margin-right:10px;
}
.order .contact .name img {
	margin-right:3px;
}
.order-ft .deal-time {
	float:left;
	text-align:left;
	padding:5px 0;
	height:16px;
	color:#404040;
}
.order-item td {
	padding:10px;
	vertical-align:top;
}
.order-item .price,.order-item .num {
	color:#404040;
}
.order-item .price {
	text-align:right;
	padding-right:5px;
}
.order-item .item .pic-info {
	float:left;
	margin-right:5px;
}
.order-item .pic-info .pic {
	overflow:hidden;
	border:none;
}
.order-item .item .txt-info {
	text-align:left;
	line-height:18px;
	margin-left:55px;
}
.order-item .item .desc a.xiaobao {
	position:relative;
	top:2px;
	width:16px;
	margin-left:3px;
}
.order-item .item .props,.order-item .item .misc {
	width:240px;
}
.order-item .item .props span {
	margin-right:15px;
}
tr.order-item .order-price {
	padding:10px 0 5px;
	vertical-align:middle;
	line-height:18px;
}
.order-item .order-price strong {
	font-size:18px;
	font-weight:normal;
	color:#f50;
}
.order-item .order-price .post-info {
	color:#404040;
	line-height:22px;
}
.order .order-item .order-price .post-info {
	line-height:18px;
}
.order-hd .trade-status {
	float:right;
	color:#404040;
}
.order-ft .trade-status {
	float:right;
	font-size:14px;
	padding:5px 10px;
	color:#404040;
}
.trade-actions {
	float:right;
}
.trade-status .wait {
	color:#404040;
}
.trade-status .todo {
	color:#404040;
}
.trade-status .success {
	color:#066601;
}
.trade-status .closed {
	color:#808080;
}
.trade-status .charging {
	color:#f60;
}
.trade-status .charging-anim {
	font-size:14px;
	display:block;
	background:url(img/loading.gif) no-repeat 0 2px;
	padding:0 0 0 22px;
	margin:10px 0 12px;
}
.trade-status a:hover strong {
	color:#f50;
}
.order-item td.trouble {
	padding-left:0!important;
	padding-right:0!important;
}
.refund-status {
	display:block;
}
.refund-doing {
	background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 8px -150px;
	*background-position:5px -150px;
	padding-left:18px;
}
.pre-apply-refund {
	color:#404040!important;
}
.pre-apply-repay {
	display:block;
}
.order-ft .status-info {
	float:right;
	margin-right:10px;
	padding:5px 0 0;
}
.refund-reason {
	display:block;
}
.memo-flag {
	position:relative;
	top:2px;
	margin-left:5px;
	outline:none;
}
.page-nav li {
	float:left;
	line-height:20px;
	color:#666;
	margin-left:3px;
}
.page-nav li a {
	display:block;
	padding:0 6px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
}
.page-nav .curr-page a {
	background:#0196CE;
	border:1px solid #91AAED;
	color:#fff!important;
	font-weight:bold;
}
.page-nav .prev-page a {
	background:#fff url(http://a.tbcdn.cn/app/trade/img/page_nav.gif) no-repeat 7px -15px;
	width:8px;
	text-indent:-9999px;
	overflow:hidden;
}
.page-nav .next-page a {
	background:#fff url(http://a.tbcdn.cn/app/trade/img/page_nav.gif) no-repeat 45px 5px;
	width:45px;
	text-align:left;
}
.page-nav .prev-page .disabled {
	background-position:7px -35px;
	cursor:default;
}
.page-nav .next-page .disabled {
	background-position:45px -55px;
	cursor:default;
	color:#7F7F7F!important;
	text-decoration:none!important;
}
.cod-icon {
	background:url(http://a.tbcdn.cn/img/app/logis/cod-icon.png) no-repeat 0 1px;
	color:#404040;
	padding-left:20px;
}
#trade-search-box .msg {
	margin-left:3em;
}
#trade-search-box .msg span.info {
	color:#f00;
}
#trade-search-box .msg .attention,#trade-search-box .msg .error {
	width:645px;
}
#trade-search-box .checkcode .msg {
	margin-left:0;
	margin-bottom:10px;
}
#trade-search-box .checkcode .msg span {
	color:#666;
}
#trade-search-box .checkcode .ckinput {
	width:50px;
}
#trade-search-box .checkcode img {
	width:70px;
	vertical-align:middle;
}
#J_Dialog_mask {
	z-index:9998;
}
#J_Dialog_c {
	z-index:9999;
}
.sep-row td {
	*height:10px;
}
.flow-steps {
	*zoom:1;
}
.s50 img {
	_width:50px;
	_height:50px;
}
.item-list {
	position:relative;
	color:#808080;
	margin:2px auto 10px;
	clear:both;
}
.item-list th.price {
	text-align:right;
}
.item-list-hd {
	position:relative;
	top:6px;
	z-index:9;
	height:25px;
}
.item-list-bd {
	position:relative;
	left:0;
	clear:both;
	z-index:8;
	border-top:1px solid #aed2ff;
}
.item-list-bd table {
	table-layout:fixed;
	border-collapse:collapse;
}
.item-list-bd th {
	height:29px;
	border-bottom:1px solid #aec7e5;
	background:url(http://a.tbcdn.cn/app/trade/img/itemlist_bg.gif) repeat-x 0 0;
	text-align:center;
	color:#000;
}
.item-list-bd th.order-price em {
	z-index:1;
	text-align:left;
	position:absolute;
	margin-top:22px;
	margin-left:-179px;
	padding:8px 0 0 3px;
	width:220px;
	height:27px;
	background:url(http://a.tbcdn.cn/app/trade/img/price-editor-tip.png) no-repeat;
}
.item-list-bd th.order-price em a {
	position:absolute;
	right:6px;
	top:14px;
	width:8px;
	height:8px;
	overflow:hidden;
	text-indent:-999em;
}
.item-list-col0 {
	width:25px;
}
.item-list-col1 {
	width:auto;
}
.item-list-col2 {
	width:65px;
}
.item-list-col3 {
	width:40px;
}
.item-list-col4 {
	width:65px;
}
.item-list-col5 {
	width:30px;
}
.item-list-col6 {
	width:150px;
}
.item-list-col7 {
	width:110px;
}
.item-list-col8 {
	width:102px;
}
.item-list-col9 {
	width:55px;
}
.item-list .item-list-bd table {
	width:100%;
}
.item-list td {
	padding:8px 5px;
	line-height:130%;
	text-align:center;
	overflow:hidden;
}
.item-list .desc img {
	vertical-align:middle;
}
.item-list .price {
	padding-right:5px;
	text-align:right;
}
.item-list .order-item .item .txt-info {
	display:inline;
	float:left;
	width:250px;
	overflow:hidden;
	margin:0;
	word-wrap:break-word;
}
.order-ft .name {
	position:relative;
}
.item-list .act td {
	padding:2px 0 0;
}
.item-list .operations {
	position:relative;
	height:28px;
	line-height:28px;
	text-align:left;
	background:#f3f3f3;
	border:1px solid #dedee0;
	border-width:1px 0;
}
.item-list .operations .show-hidden-orders {
	margin-left:25px;
	color:#36c;
}
.item-list .operations .show-hidden-orders input {
	margin-right:5px;
}
.memo-flag {
	left:0;
	top:-1px;
}
.item-list .all-selector,.item-list .selector {
	margin:0 8px 0 6px;
}
.item-list .operations label {
	margin-right:18px;
	color:#404040;
}
.item-list .operations a {
	padding:0 10px;
}
.item-list .operations .page-nav {
	position:absolute;
	right:4px;
	top:3px;
}
.item-list .operations .page-nav a {
	padding:0 6px;
}
.item-list .operations .page-nav-simply .prev-page a {
	text-indent:0;
	width:45px;
	text-align:right;
}
.item-list .operations .page-nav-simply a.disabled {
	color:gray;
	cursor:default;
}
tr.order-hd td {
	padding:5px 0;
}
td.contact a.nickname {
	word-wrap:break-word;
}
td.contact .name {
	display:block;
	margin:2px auto;
}
td.contact .cell_number {
	padding-left:15px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1RzXEXc0JXXXXXXXX-16-16.png) no-repeat 0 50%;
}
td.trade-status {
	padding:8px 0;
}
td.trade-status a,td.remark a {
	display:block;
	margin:2px auto;
}
td.trade-status .status {
	font-weight:normal;
}
.order-item td.order-price strong {
	color:#404040;
	font-size:12px;
	font-weight:bold;
}
td.order-price a.modify-price {
	display:block;
	margin:2px auto;
}
.post-info .view-logistics img {
	position:relative;
	top:3px;
}
.order .order-item td.order-price,.order .order-item td.contact,.order .order-item td.trade-status {
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	border-bottom:1px solid #D4E7FF;
}
.order .order-item td.remark {
	border-left:1px solid #eee;
	border-right:1px solid #D4E7FF;
	border-bottom:1px solid #D4E7FF;
}
.order-item td.price,.order-item td.num,.order-item td.contact .name,.order-item td.contact .cell_number,.order-item td.trade-status .wait {
	color:#000;
}
#list-sold-items .order-item td.num,#list-bought-items .order-item td.num {
	font-weight:bold;
	overflow:visible;
}
.order tr.last td {
	border-bottom:1px solid #D4E7FF;
}
.order tr.sep-row td {
	border-bottom-color:#D4E7FF;
}
tr.order-hd td {
	border-color:#D4E7FF #D4E7FF #eee;
}
.order .item {
	border-left-color:#D4E7FF;
}
.order .sep-row td {
	border-bottom:1px solid #B4D5FF;
	padding:3px 0!important;
}
.order-item .order-price .post-info {
	color:#808080;
	line-height:normal;
}
.order-item td.order-price,.order-item td.contact,.order-item td.remark,.order-item td.trade-status {
	vertical-align:top!important;
}
.refund-status {
	margin-bottom:5px;
	height:16px;
}
.refund-doing,.icon-status {
	background:url("http://img04.taobaocdn.com/tps/i4/T1.HLnXkRXXXaHNz_X-16-16.gif") no-repeat scroll 0 0 transparent;
	padding-left:20px;
	text-align:left;
}
.gray-status {
	color:#808080;
}
.orange-status {
	color:#f60;
}
.order-item td.remark {
	padding:8px 0;
}
.success-order tr.sep-row td,.closed-order tr.sep-row td {
	border-bottom-color:#E6E6E6;
}
.success-order .order-hd td,.closed-order .order-hd td {
	border-color:#E6E6E6 #E6E6E6 #eee;
}
.success-order .order-hd,.closed-order .order-hd {
	background:#F3F3F3;
}
.success-order tr.last td,.closed-order tr.last td {
	border-bottom:1px solid #E6E6E6;
}
.success-order .item,.closed-order .item {
	border-left-color:#E6E6E6;
}
.success-order .order-item td.remark,.closed-order .order-item td.remark {
	border-bottom:1px solid #E6E6E6;
	border-left:1px solid #eee;
	border-right:1px solid #E6E6E6;
}
.success-order .order-item td.order-price,.success-order .order-item td.contact,.success-order .order-item td.trade-status,.closed-order .order-item td.order-price,.closed-order .order-item td.contact,.closed-order .order-item td.trade-status {
	border-bottom:1px solid #E6E6E6;
}
.order-item .item .props,.order-item .item .misc {
	width:auto;
}
.trade-actions {
	float:none;
}
td.trouble a.xbcard {
	display:block;
	margin-top:3px;
}
td.trouble .btn-disabled,td.trouble .btn-disabled:hover {
	color:#808080;
	cursor:default;
	text-decoration:none;
}
.order-item td.trouble {
	cursor:pointer;
}
.mall-order-entra {
	background:url(http://pics.taobaocdn.com/bao/album/sys/icon/mall-icon-080801.gif) no-repeat 0 1px;
	padding-left:20px;
	position:absolute;
	top:7px;
	left:300px;
	z-index:100;
}
.mall-order-entra-float {
	background:url(http://pics.taobaocdn.com/bao/album/sys/icon/mall-icon-080801.gif) no-repeat 0 1px;
	padding-left:20px;
	float:left;
	margin-left:24px;
	margin-top:9px;
}
.taoke-entra {
	position:absolute;
	top:6px;
	left:483px;
}
.buyer-help-link {
	float:right;
	position:relative;
	margin-top:-20px;
	right:0;
}
.top-info-bar {
	overflow:hidden;
	zoom:1;
}
.top-info-bar .help,.top-info-bar .notice {
	float:right;
}
.pay-together {
	width:60px;
	height:20px;
	background:url(http://a.tbcdn.cn/app/trade/img/do_together.png) no-repeat;
	display:inline-block;
	padding:0!important;
	vertical-align:middle;
	line-height:20px;
	text-align:center;
	zoom:expression(function(el) {
	document.execCommand('BackgroundImageCache',false,true);
	el.style.zoom = '1';
}
.memo-popup {
	background:#FFFCF3;
	border:1px solid #F7E4A5;
	padding:8px 10px 5px 10px;
	display:none;
	width:170px;
	z-index:99;
}
*+html .item-list {
	margin-top:10px;
}
.item-list-hd {
	*top:-4px;
	_top:6px;
}
.item-list-bd table {
	*position:relative;
}
#main-content {
	*padding-right:9px;
}
.item-list .operations {
	*zoom:1;
}
.item-list .all-selector {
	*margin:0 8px 0 3px;
	_margin:2px 8px 0 4px;
}
.item-list .selector {
	*margin:-2px 8px 0 2px;
}
.order .sep-row td {
	*height:6px;
}
.memo-flag {
	*top:3px;
}
.item-list .item-list-hd .mytb-order,.item-list .item-list-hd .online-shop-order {
	display:inline;
	float:left;
	height:18px;
	overflow:hidden;
	margin:7px 0 0 25px;
	padding-right:16px;
	line-height:18px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1QJ0nXaVFXXXXXXXX-70-42.png) no-repeat 76px -27px;
	*padding-top:2px;
	_padding-top:0;
}
.item-list .item-list-hd .mytb-order {
	background-position:110px -27px;
}
.icon-3c a {
	background:url(http://img07.taobaocdn.com/tps/i7/T1g9BqXoJfXXXXXXXX-16-16.png) no-repeat;
	vertical-align:middle;
	width:16px;
	height:16px;
	display:inline-block;
}
.icon-3c em {
	color:#fff;
	text-indent:-9999px;
	display:inline-block;
	*margin-top:5px;
	overflow:hidden;
}
.item-list .skin-gray .longer,.item-list .skin-blue .longer {
	width:115px;
	position:relative;
	background-position:54px -660px;
	padding:0;
}
.item-list .skin-blue .longer {
	background-position:54px -630px;
}
.item-list .skin-gray .longer b,.item-list .skin-blue .longer b {
	position:absolute;
	height:21px;
	width:58px;
	top:0;
	left:0;
	background:transparent url(http://a.tbcdn.cn/sys/common/img/btn_bg.png) no-repeat scroll 0 -660px;
}
.item-list .skin-blue .longer b {
	background-position:0 -630px;
}
.item-list .skin-gray .longer span,.item-list .skin-blue .longer span {
	position:relative;
}
.item-list .skin-gray .longer:hover span,.item-list .skin-blue .longer:hover span {
	text-decoration:underline;
}
.item-list .skin-gray .longer-small,.item-list .skin-blue .longer-small {
	width:90px;
}
.item-list .skin-gray .longer-small {
	background-position:28px -660px;
}
.item-list .skin-blue .longer-small {
	background-position:28px -630px;
}
.item-list .order .modify-price {
	display:block
}
.item-list .btn,.item-list .small-btn,.item-list .long-btn,.item-list .short-btn,.item-list .small-long-btn {
	overflow:hidden;
	white-space:nowrap
}
.item-list .stage-item .skin-blue .small-long-btn {
	width:70px;
	background:url(http://img01.taobaocdn.com/tps/i1/T13._uXixnXXcE5X6m-70-21.png) no-repeat
}
.item-list-bd .price {
	text-align:center
}
.item-list-bd .stage-order .order-item .order-price,.item-list-bd .stage-order .order-item .contact,.item-list-bd .stage-order .order-item .trade-status {
	border-bottom-color:#eee
}
.item-list-bd .stage-item {
	padding:0;
	border-left:1px solid #d4e7ff;
	border-bottom:1px solid #d4e7ff
}
.item-list-bd .closed-order .stage-item,.item-list-bd .success-order .stage-item {
	border-left-color:#e6e6e6;
	border-bottom-color:#e6e6e6
}