/* 
 * My97 DatePicker 4.7
 */

.WdateDiv{
	width:178px;
    border: 1px solid #EEE;
    background-color: #FFF;
    /* border-bottom: 1px solid #E8E9E8; */
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;font-family: normal}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
}

.WdateDiv .NavImgll a{
	float:left;
    margin-top: 3px;
	background:transparent url(img.gif) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
    margin-top: 3px;
	background:transparent url(img.gif) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right;
    margin-top: 3px;
	background:transparent url(img.gif) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;
    margin-top: 3px;
	background:transparent url(img.gif) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:24px;
    border-bottom: 1px solid #2E6AB1;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:0px;
	width:50px;
    color: #666;
	cursor:pointer;		
    background: transparent;
}

.WdateDiv .ymspan{
	display:block;
	float:left;
	margin-top:2px;
    margin-left: 0;
	text-align:center;
	height:20px;
	border:0px;
	width:50px;
    color: #666;	
    background: transparent;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:700;
	height:20px;
	color:blue;
	border:#CCC 1px solid;
	width:50px;
    background: tranparent;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#BEEBEE;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#EBF5FF 1px solid;
 }

.WdateDiv .MTitle{
	background-color:#EBF5FF;
    color: #2E6AB1;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#C5D9E8 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
    background-color: #FFF;
}

.WdateDiv .WdayTable tr{
	height: 22px;
}

.WdateDiv .WdayTable *{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#EBF5FF;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF2F2F;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#000;
	background-color:#EBF5FF;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:#00F;
}
.WdateDiv .Wselday{
	background-color:#EBF5FF;
    color: #2E6AB1;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#6A6AFF;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#EBF5FF;	
}

.WdateDiv .WinvalidDay{
	color:#AAA;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;	
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	border:#ccc 1px solid;
	margin-top:2px;
	margin-right:1px;
}