#letskillie6,#letskillie6 div,#letskillie6 a,#letskillie6 p,#letskillie6 span{text-align:left;margin:0;padding:0;border:0;}
#letskillie6{visibility:hidden;z-index:9999;width:320px;color:#CCC;position:absolute;right:10px;line-height:1;font-size:12px;font-family:"Microsoft Yahei",PMingLiu,Tahoma,Arial,Verdana,sans-serif;}
#letskillie6 .letskillie6-pic{background:url(image/icons.png) -15px 5px no-repeat;width:56px;height:81px;float:left;display:inline;}
#letskillie6 .letskillie6-desc{margin-left:68px;line-height:21px;}
#letskillie6 a{color:#A9CE7C;text-decoration:none;font-weight:normal;}
#letskillie6 a:hover{text-decoration:underline;}
#letskillie6 .letskillie6-content{width:296px;background:#2A2A2A;padding:8px 12px;overflow:hidden;font-weight:normal;}
#letskillie6 .letskillie6-r1,#letskillie6 .letskillie6-r2,#letskillie6 .letskillie6-r4{background:#2A2A2A;height:1px;overflow:hidden;}
#letskillie6 .letskillie6-r1{margin:0 1px;}
#letskillie6 .letskillie6-r2{margin:0 2px;}
#letskillie6 .letskillie6-r4{margin:0 4px;}
#letskillie6 .letskillie6-browsers{margin:10px -12px 0;padding:5px 12px;font-family:Verdana,Tahoma,Arial;background:#454545;}
#letskillie6 .letskillie6-browsers a{background:url(image/icons.png) -144px 0 no-repeat;height:16px;line-height:15px;padding-left:21px;margin-left:18px;display:block;float:left;font-size:11px;font-weight:normal;}
#letskillie6 a.letskillie6-ie8{margin-left:0;margin-right: 35px;}
#letskillie6 a.letskillie6-firefox{background-position: -144px -16px;margin-right: 35px;}
#letskillie6 a.letskillie6-chrome{background-position: -144px -48px;}
#letskillie6 .letskillie6-meta{margin-top:10px;font-size:10px;font-family:Verdana,Tahoma,Arial;}
a#letskillie6-close{background:url(image/icons.png) no-repeat;color:#C00;text-indent:-999em;float:right;width:15px;height:15px;margin:0 0 10px 10px;display:inline;overflow:hidden;}
a#letskillie6-close:hover{background-position:0 -15px;}