.calmain
{
	border-bottom:2px solid #c3d9ff;/* #c3d9ff */
	background:#D0DEF0;/*#c3d9ff*/
	position:relative;
}
.printborder {
	/*border-left:9px solid #c3d9ff*/
	border: 1px solid #DDD;
}

.scolltimeevent
{
 	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:0;
	font-size:12px;
	line-height:normal;
}
.wk-top
{
    position: relative;
    top:10px;
	table-layout:fixed;
	width:100%;
/*	overflow:hidden; denglh屏蔽 新手引导tips会被剪掉*/
	font-size:12px;
	line-height:16px;
 }
#gridcontainer {
	-webkit-user-select:none;
	-khtml-user-select:none;
	min-height:300px;
	background:#D0DEF0;/*#c3d9ff*/
	position:relative;
}
.wk-dayname {
	margin-left:4px;
	padding:2px 4px;
	/*color:#112abb;*/
	white-space:nowrap;
	font-weight:400;
}
.wk-today {
	padding:1px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #6786A7 #ACE #ACE #6786A7;
	background-color:#8ac;
	font-weight:700;
	color:#fff;
}
.wk-dummyth {
	vertical-align:top;
	background-color:#D0DEF0;/*#c3d9ff*/
	padding:0
}
.wk-daylink
{
    cursor:pointer;
}
.wk-daylink:hover
{
     text-decoration:underline;    
}
.wk-allday {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    background-color: #E6E6E6;
    background-color: #D9D9D9 9;
    outline: 0;
}
.wk-allday .st-c {
	padding-left:0;
	padding-right:0;
	border-left:1px solid #CCC;
}
.st-grid {
	position:relative;
	table-layout:fixed;
	width:100%;
}

.st-c {
	padding:1px 1px 0 2px;
	vertical-align:top;
	font-family:Verdana, sans-serif
}
.st-s {
	padding-bottom:2px;
	cursor:default;
}
.t1 {
	font-size:1px;
	height:0px;
	line-height:1px;
	margin:0 2px;
	overflow:hidden
}
.t2 {
	font-size:1px;
	height:0px;
	line-height:1px;
	margin:0 1px;
	overflow:hidden
}
.chromeColor {
	/*
	background:#c3d9ff;
	border-color:#c3d9ff
	*/
}
.tg-timedevents {
	background-color:#fff;
	table-layout:fixed;
	width:100%;
	margin-top:-1px
}

.tg-times {
	padding:0;
	font-family:Arial;
	font-size:11px;
	background-color:#F6F9FC;/*#e8eef7*/
	color:#468;
	text-align:right;
	vertical-align:top;
	padding-right:1px;
	padding-top:1px;
	overflow:hidden

}
.tg-time {
	border-bottom:1px solid #ddd;
	padding-right:2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}
.out-time{ background:#eee; color:#999; }
.tg-col {
	border-left:3px double #ddd;
	overflow:hidden;
	vertical-align:top
}
.tg-col-overlaywrapper {
	position:relative;
	height:0
}
.tg-col-eventwrapper {
	position:relative;
	cursor:default;
	margin-right:10px;
}
.tg-today {
	background-color:#ffc;
}
.tg-spanningwrapper {
	position:relative;
	margin-left:3px;
    width: 100%;
	height:1px;
	top:1px;
}
.tg-hourmarkers {
	position:absolute;
	width:100%
}
.tg-dualmarker {
	border-top:1px solid #ddd;
	height:1em;
	line-height:1em;
	border-bottom:1px dotted #ddd;
	margin-bottom:1em;
}
.tg-out-time {
	background: rgba(242,242,242,0.5);
	overflow:hidden; /* 解决子元素margin传递给父级 */
}
.ie_all .tg-out-time{
	background-color:#f2f2f2;
	filter:alpha(opacity=50);
}
.ie_all	.tg-dualmarker{
	position:relative;
}
.tg-nowmarker {
	position:absolute;
	left:0;
	width:100%;
	top:0;
	height:0;
	border-top:2px solid red;
	overflow:hidden;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.tg-nowptr {
	position:absolute;
	background-position:-60px -68px;
	width:5px;
	height:9px;
	background-image:url(images/calendar/combined.gif)
}

.chip {
	position:absolute;
	overflow:hidden;
	cursor:default;
	color:#fff;
	-moz-user-select:none;
}
.chip dl {
	margin:0;
	padding-bottom:1px;
	border-left:1px solid;
	border-right:1px solid;
	overflow:hidden
}
.chip dt {
	margin-top:-1px;
	font:bold 80%/normal Verdana, Sans-serif;
	white-space:nowrap;
	overflow:hidden;
	padding-left:1px;
	text-align:left;
}
.chip a:link, .chip a:visited, .chip a:active {
	text-decoration:none;
	color:#fff
}
.ie6 .chip dl {
	zoom:1
}
.ie6 .chip dt {
	width:100%;
	margin-right:-1px
}
.chip dd {
	margin:0;
	overflow:hidden;
	padding:0 1px;
	font:100%/1.3em Verdana, Sans-serif;
	text-align:left;
	word-wrap:break-word
}
.cb1, .cb2 {
	border-style:solid;
	overflow:hidden;
}
.cb1 {
	height:1px;
	margin:0 1px;
	border-width:0 1px
}
.cb2 {
	height:0;
	margin:0 2px;
	border-width:0 0 1px
}
.ct {
	height:0;
	overflow:hidden;
	border-style:solid;
	border-width:0 2px 2px;
	border-color:transparent
}
.ie6 .ct {
	border-style:solid dotted
}

.cic {
	background-repeat:no-repeat;
	display:inline-block;
	margin-left:2px;
	width:9px;
	height:7px;
	line-height:7px;
	background-image:url(images/calendar/combined.gif)
}
.ff2 .cic {
	display:-moz-inline-box;
	vertical-align:bottom;
	position:relative;
	top:-2px
}
.cic-ques {
	margin-left:0;
	margin-right:2px;
	width:9px;
	height:9px;
	line-height:9px;
	background-position:-56px -50px
}
.cic-prsn {
	background-position:-28px -50px
}
.cic-noprs {
	background-position:-46px -50px
}
.cic-tmr {
	background-position:-28px -57px
}
.cic-rcr {
	background-position:-37px -50px
}
.cic-spcl {
	background-position:-37px -57px
}
.cic-priv {
	background-position:-11px -64px
}
.cic-finish {
	background-position:-74px -50px
}


.resizer {
	position:absolute;
	height:7px;
	line-height:7px;
	width:100%;
	bottom:0;
	cursor:s-resize;
	
}
.rszr_icon 
{
    /*display:none;*/
	border-top:3px double white;
	font-size:0;
	line-height:0;
	height:0;
	width:10px;
	margin-left:auto;
	margin-right:auto
}

.rb-n {
	padding:1px 1px 1px 3px;
	overflow:hidden;
	white-space:nowrap;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	cursor:pointer
}
.rb-o {
	margin:0 1px;
	border-width:1px 0;
	border-style:solid;
	cursor:pointer
}
.rb-m {
	padding-left:3px;
	margin:0 -1px;
	border-width:0 1px;
	border-style:solid;
	zoom:1
}
.rb-i {
	overflow:hidden;
	color:white;
	white-space:nowrap;
	width:100%
}
.mv-container {
	/*height:100%;*/ /* @Aeolus 改进 */
	position:relative;
	line-height:14px;
	white-space:nowrap;
}
.mv-container th{
    font-size:16px;
	color:#666;
	border-left: 1px solid #AACCEE;
	text-indent: 5px;
}
.bg-exists .mv-container {
	background-color:transparent
}
.st-contents, .mv-container {
	font-size:11px;
	line-height:14px
}
.mv-daynames-table {
	/*position:absolute;*/ /* @Aeolus 改进 */ position:relative;
	table-layout:fixed;
	top:0;
	left:0;
	width:100%;
	background:#D0DEF0; /*#c3d9ff*/
	/*color:#112abb*/
	height:22px;
	padding:3px;
	text-align:center;
}
.mv-dayname {
	font-weight:normal;
}

.mv-event-container {
	overflow:hidden;
	/*position:absolute;*/ /* @Aeolus 改进 */ position:relative;
	left:0;
	width:100%;
	/*top:24px;*/ /*@Aeolus 改进 */ position:relative;
	bottom:0;
	background:white;
}
.month-row {
	position:absolute;
	left:0;
	width:100%;
	overflow:hidden
}
.bg-exists .month-row {
	opacity:0.9;
	filter:alpha(opacity=90)
}
.st-bg-table {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	table-layout:fixed
}
.st-bg {
	border-left:1px solid #D0DEF0;/*#c3d9ff*/
}
.st-bg-today {
	background-color:#ffc
}
.bg-exists .st-bg-today {
	background-color:#eee;
	border:1px solid #579;
	opacity:0.8;
}
.st-dtitle {
	border-left:1px solid #D0DEF0;/*#c3d9ff*/
	border-top:1px solid #D0DEF0;/*#c3d9ff*/
	/*background-color:#e8eef7;*/
	color:#A7C6DF;/*#444;*/
	padding-right:2px;
	text-align:right;
	line-height:16px;
	overflow:hidden
}
.bg-exists .st-dtitle {
	opacity:0.8;
	filter:alpha(opacity=80)
}
.st-dtitle-nonmonth {
	background-color:#eee;
	color:#ccc;/*#777*/
}
.st-dtitle-today {
	/*background-color:#bcd*/
}

.st-more {
	color:#112abb;
	text-align:center;
	cursor:pointer;
}
.st-moreul {
	text-decoration:underline
}
.st-moreicon {
	background-color:#d0d6de;
	color:#627487;
	margin:1px;
	padding-right:5px;
	text-align:right;
	font-size:85%
}
.cc {
	-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
	position:absolute;
	display:none;
	padding:0 0 5px; /* @Aeolus 给浮框加个底边 */
	border:1px solid gray;
	background-color:white;
}
.cc-titlebar {
	background-color:#e8eef7
}
.cc-close {
	margin:2px 2px 0 0;
	position:absolute;
	right:0;
	cursor:pointer;
	width:15px;
	height:15px;
	background:url(images/calendar/combined.gif) 0 -50px
}
.cc-title {
	padding:2px;
	font-weight: 700;
}
.st-ad-ml, .st-ad-mr {
	position:relative;
	top:2px;
	margin-bottom:-8px;
	height:0;
	width:0;
	line-height:0;
	font-size:0;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent
}
.st-ad-mpad {
	padding-left:10px
}
.st-ad-ml {
	border-right:4px solid white;
	margin-left:-7px;
	margin-right:auto
}
.st-ad-mr {
	border-left:4px solid white;
	margin-left:auto;
	margin-right:3px
}

.no-prong, .top-prong, .bottom-prong {
    position: absolute;
    height: 9px;
    width: 18px;
    overflow: hidden;
}

.prong-dk, .prong-lt {
    position: absolute;
    left: 0;
    top: 0;
}
.prong-dk {
    border: 9px solid;
    border-color: #ccc transparent;
}
.prong-lt {
    border: 8px solid;
    left: 1px;
    border-color: white transparent;
}
.bottom-prong {
    bottom: -9px;
}


.bubble {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden; 
	border:1px solid #ababab;
	background:#fff;
    font-size: 9pt; 
}
.bubble-table {
	width: 100%; table-layout: fixed
}
.bubble-cell-side {
	width: 25px
}
.bubble-cell-main {
	width: 100%
}
.bubble-sprite {
	background-image: url(images/calendar/bubble_combined.png); position: absolute; width: 148px; height: 96px
}
.ie6 .bubble-sprite {
	filter: progid:dximagetransform.microsoft.alphaimageloader(sizingmethod="crop",src="/theme/default/images/calendar/bubble_combined.png"); background: none transparent scroll repeat 0% 0%
}
.bubble-corner {
	position: relative; width: 25px; height: 25px; overflow: hidden
}
.bubble-tl {
	left: 0
}
.bubble-tr {
	left: -25px
}
.bubble-bl {
	top: -25px;
    left: 0
}
.bubble-br {
	top: -25px;
    left: -25px
}
.bubble-closebutton {
	position: absolute; 
    top: 10px;
    right: 10px;
    width: 15px; 
    height: 15px; 
    background: url(images/calendar/combined.gif) 0px -50px; 
    cursor: pointer; 
}
.bubble-top {
	background: #fff; height: 24px
}
.bubble-bottom {
	background: #fff; height: 24px
}
.bubble-top {
	border-top: #ababab 1px solid
}
.bubble-bottom {
	border-bottom: #ababab 1px solid
}
.bubble-delete *{
	margin-bottom: 10px;
}
.del-op-width{
	width:130px;
}
.bubble-mid {
	/*
	border-left: #ababab 1px solid;
	border-right: #ababab 1px solid;
	*/
    padding: 0 20px;
	background: #FFF;
}
.cb-root {
	width: 100%; 
	font-size: 13px; 
	overflow: hidden
}
.cb-switcher {
	margin-bottom: 0.8em
}
.cb-switcher-selected {
	font-weight: 700;
}
.cb-table {
	width: 100%;
    margin-bottom: 0.8em
}
.cb-example {
	font-size: 12px;
    padding-top: 2px;
	font-style:italic
}
.cb-key {
    padding: 0.4em 1em 0.4em 0;
    text-align: left;
	white-space: nowrap; 
    vertical-align: top;
    font-weight: 400;
}
.cb-value {
	padding: 0.4em 0;
    width: 95%;
}
.cb-textarea {
	height: 3.9em
}
.cb-finish {
	background-repeat:no-repeat;
	display:inline-block;
	width:13px;
	height:10px;
	line-height:7px;
	background-image:url('images/calendar/combined.gif');
	background-position: -75px -73px;
}

.textbox-fill-input {
	width:95%;
	padding:2px;
	border-width:1px;
	border-color:#666 #ccc #ccc #666
}
.lk {
	WHITE-SPACE: nowrap; COLOR: #112abb; CURSOR: hand; /*TEXT-DECORATION: underline*/
}
.cal-control
{
   
}
.control-main
{
    width: 100%;    
    vertical-align: bottom;
    border-color:#D0DEF0;/*#c3d9ff*/
}
.view-tab {
    padding: 0 2px;
    vertical-align: bottom;
    cursor: pointer; 
}
.view-tab-unselected {
	background-color: #e8eef7
}
.view-tab-selected {
	background-color: #D0DEF0;/*#c3d9ff*/
}
.tab-name {
    white-space: nowrap; 
	padding: 4px 6px 3px;
}
.tab-spacer {
	width: 3px; 
    cursor: default
}
.bbit-cs-split
{
    margin-top:2px;
    padding:10px 2px;
    border-top:solid 1px #ccc;    
}
.textbox-fill-div {
	width:95%;
	padding:2px;
	font-size:14px;
}
.textbox-fill-div:hover { background-color:#FFFFCC; }
.drag-lasso-container {
	position: absolute; 
	width: 0px; 
	height: 0px; 
	top: 0px; 
	left: 0px
}
.drag-lasso { 
    background-color: #0074CC;
    opacity: .2;
    filter: Alpha(opacity=20);
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	position: absolute; 
	line-height: 0; 
	font-size: 0; 
}
.drag-event {
	z-index: 1000; 
	position: absolute; 
	font-family: Verdana,sans-serif; 
	cursor: pointer
}
.drag-chip-wrapper {
	z-index: 1; 
	position: absolute;
	width: 100%; 
	left: 0px
}
.drag-chip {
	filter: alpha(opacity=80); 
	cursor: pointer; 
	opacity: .8; 
	-khtml-opacity: .8
}
.prong {
	position: relative; 
    top: -1px;
	left:101px;
    margin-bottom: -72px; 
    width: 98px; 
    height: 72px; 
    overflow: hidden; 
}
.prong .bubble-sprite {
	top: -23px; 
    left: -50px
}
.monthdayshow {
    cursor:pointer;
	font-size:16px;
	padding:2px 4px 1px;
	/*color:#A7C6DF;*/
	font-family:helvetica,arial,sans-serif;
}
.monthdayshow:hover {
    text-decoration:underline;
}
.fshowdatepwrap{
    margin: 0 auto;
    width: 330px;
}
.wktopcontainer{
    background-image: -webkit-linear-gradient(top, #FFF, #EFEFEF);
    background-image: -moz-linear-gradient(top, #FFF, #EFEFEF);
    background-image: -ms-linear-gradient(top, #FFF, #EFEFEF);
    background-image: -o-linear-gradient(top, #FFF, #EFEFEF);
    background-image: linear-gradient(top, #FFF, #EFEFEF);
    background-color: #FFF;
    padding-top: 1px;
}
.cal-explain{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding: 10px;
    background-color:#F5F5F5;
    border: 1px solid #DDD;
    border-top-color: #FFF;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.cal-explain span {
    display: inline-block;
    width:16px;
    height:16px;
    vertical-align: middle;
}
.cal-explain label {
    margin-right: 10px;
    padding: 3px;
}
.cal-pending {background-color: #B373B3;}
.cal-approved {background-color: #668CB3;}
.cal-inprogress {background-color: #8CBF40;}